{% extends "base_generic.html"%}

{% block content %}
    
<div>
<hr/><hr/><hr/><hr/><hr/><hr/><hr/><hr/><hr/><hr/>
</div>

<div>
    <h2>내 타입({{currentUser.profile.survey_fk.mtype}})의 최적 생리대는?</h2>
    <span>나와 같은 월경타입의 사람들이 평가한 순위</span>
</div>

<div>
    <div>
        <button type="button">타입별 랭킹찾기</button>
    </div>

    <div>
        <button type="button" onclick="location.href='#'">M-Type 재검사</button>
    </div>
</div>

<div>
    <div>
        {% comment %} 폰트 어썸을 활용해서 아이콘을 넣을 자리 {% endcomment %}
        <span>흡수력</span>
    </div>
    <div>
        {% comment %} 폰트 어썸을 활용해서 아이콘을 넣을 자리 {% endcomment %}
        <span>탈취성</span>
    </div>
    <div>
        {% comment %} 폰트 어썸을 활용해서 아이콘을 넣을 자리 {% endcomment %}
        <span>피부친화도</span>
    </div>
    <div>
        {% comment %} 폰트 어썸을 활용해서 아이콘을 넣을 자리 {% endcomment %}
        <span>촉감/착용감</span>
    </div>
</div>

<div>
    <ul>
        {% for product in products %}
        <li>
            <div>
                {{ product.image }}
                {{ product.name }} | 총점 
                {{ product.price }}
                자연유래도 {{ nature_friendly }}%
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}