{% extends "base_generic.html" %}
{% load static %}
{% load js %}

{% block title %}
ChaeBi | 비교검색
{% endblock %}

{% block content %}
<div class="compare-search-page container">
    <!-- 상단 탭 -->
    <!-- <div class="search-pannel row">
        <div class="compared-search selected col-sm-6">
            <h2>직접 비교하기</h2>
            <span>내가 쓰고 있는 제품과 원하는 비교를 손쉽게</span>
        </div>
        <div class="normal-search col-sm-6">
            <h2>일반 검색</h2>
            <span>일반검색 입니다</span>
        </div>
    </div> -->

    <div class="pannel">
        <div class="pannel-title">직접 비교하기</div>
        <div class="pannel-description">내가 쓰고 있는 제품과 원하는 비교를 손쉽게</div>
    </div>

    <form action="{% url 'product:CompareSearch' %}" method="GET" id="compareSearchForm" onsubmit="return false">
        <div class="search-content-box">
            <div class="row search-option">
                <div class="search-text col-lg-4 col-xl-3 text-center">
                    <div class="d-inline-block">
                        <input id="compareSearchText" type="text" name="q"
                            value="{% if request.GET.q %}{{request.GET.q}}{% else %}{{user.best_pad}}{% endif %}"
                            autocomplete="off" />
                        <ul class="" id="autoCompleteText"></ul>
                    </div>
                    <span>보다</span>
                    <input type="hidden" name="compareConditionList" value="" />
                </div>

                <div class="checkbox-box col-lg-5 col-xl-5">
                    <input type="checkbox" id="compareCondition1" value="price"
                        {% if request.GET.compareConditionList %}{% if 'price' in request.GET.compareConditionList %}checked="true"
                        {% endif %}{% endif %}>
                    <label for="compareCondition1">저렴한</label>

                    <input type="checkbox" id="compareCondition2" value="absorbency"
                        {% if request.GET.compareConditionList %}{% if 'absorbency' in request.GET.compareConditionList %}checked="true"
                        {% endif %}{% endif %}>
                    <label for="compareCondition2">흡수력 좋은</label>

                    <input type="checkbox" id="compareCondition3" value="comfort"
                        {% if request.GET.compareConditionList %}{% if 'comfort' in request.GET.compareConditionList %}checked="true"
                        {% endif %}{% endif %}>
                    <label for="compareCondition3">촉감/착용감 좋은</label>

                    <!-- <input type="checkbox" id="compareCondition4" value="nature_friendly"
                        {% if request.GET.compareConditionList %}{% if 'nature_friendly' in request.GET.compareConditionList %}checked="true"
                        {% endif %}{% endif %}>
                    <label for="compareCondition4">자연유래정도 높은</label> -->

                    <input type="checkbox" id="compareCondition5" value="anti_odour"
                        {% if request.GET.compareConditionList %}{% if 'anti_odour' in request.GET.compareConditionList %}checked="true"
                        {% endif %}{% endif %}>
                    <label for="compareCondition5">탈취성 좋은</label>

                    <input type="checkbox" id="compareCondition6" value="sensitivity"
                        {% if request.GET.compareConditionList %}{% if 'sensitivity' in request.GET.compareConditionList %}checked="true"
                        {% endif %}{% endif %}>
                    <label for="compareCondition6">피부 트러블 덜 나는</label>
                </div>

                <div class="col-lg-3 text-center col-xl-4">
                    <span>제품을 찾아주세요</span>
                    <input type="submit" value="검색">
                </div>
            </div>
        </div>

        {% if first_page == False %}
        <div class="result-box d-flex flex-column">
            <p class="col-12">총 {{ product_list|length }}개의 상품이 검색되었습니다</p>
            <div class="col-12">
                <!-- 드롭다운 옵션 선택 div -->
                <div class="drop-down-box">
                    <a href="javascript:void(0);">
                        {% if option == 'price' %}
                        저렴한 순
                        {% elif option == 'absorbency' %}
                        흡수력 순
                        {% elif option == 'comfort' %}
                        촉감/착용감 순
                        <!-- {% elif option == 'nature_friendly' %}
                        자연유래정도 순 -->
                        {% elif option == 'anti_odour' %}
                        탈취성 순
                        {% elif option == 'sensitivity' %}
                        민감도 순
                        {% else %}
                        정렬 선택
                        {% endif %}
                    </a>
                    <input type="hidden" value="{% if option %}{{ option }}{% endif %}" name="option">
                    <ul>
                        <li data-option="price">저렴한 순</li>
                        <li data-option="absorbency">흡수력 순</li>
                        <li data-option="comfort">촉감/착용감 순</li>
                        <!-- <li data-option="nature_friendly">자연유래정도 순</li> -->
                        <li data-option="anti_odour">탈취성 순</li>
                        <li data-option="sensitivity">민감도 순</li>
                    </ul>
                </div>
            </div>



            <div class="product-box col-12">
                <ul class="row">
                    {% for reviewSummary in paginator.page_obj %}
                    <li class="col-lg-4 col-md-6 col-xs-12 my-4"
                        onclick="location.href='{{reviewSummary.product_fk.get_absolute_url}}'">
                        <div>
                            <div class="">
                                <div class="">
                                    {% if paginator.page_obj.number == 1 %}
                                    {% if forloop.counter0 < 3 %}
                                    <span class="rank">{{ forloop.counter }}위</span>
                                    {% endif %}
                                    {% endif %}
                                    <span>
                                        {% if option == 'price' %}
                                        가격 {{ reviewSummary.product_fk.price }}원
                                        {% elif option == 'absorbency' %}
                                        흡수력 {{ reviewSummary.absorbency_avg }}점
                                        {% elif option == 'comfort' %}
                                        촉감/착용감 {{ reviewSummary.comfort_avg }}점
                                        {% elif option == 'nature_friendly' %}
                                        자연유래정도 {{ reviewSummary.product_fk.productingredient.nature_friendly_score }}점
                                        {% elif option == 'anti_odour' %}
                                        탈취성 {{ reviewSummary.anti_odour_avg }}점
                                        {% elif option == 'sensitivity' %}
                                        민감도 {{ reviewSummary.sensitivity_avg }}점
                                        {% endif %}
                                    </span>
                                </div>
                                <img class="" src="{{ reviewSummary.product_fk.image.url }}" alt="" />
                            </div>
                            <span>
                                {% for hashtag in reviewSummary.product_fk.hashtag_fk.all %}
                                #{{ hashtag }}
                                {% endfor %}
                            </span>
                            <h2>{{ reviewSummary.product_fk.name }}({{ reviewSummary.product_fk.category }})</h2>
                        </div>
                    </li>
                    {% empty %}
                    <p>일치하는 검색결과가 없습니다.</p>
                    {% endfor %}
                </ul>
            </div>            
        </div>

        <!-- pagination -->
        {% include 'pagination.html' with paginator=paginator %}
        
        {% endif %}
    </form>
</div>


<script src="{% static 'js/hangul.min.js'%}"></script>
<script type="text/javascript">

    window.addEventListener('load', function () {
        document.getElementById('compareSearchForm').addEventListener('submit', function () {
            compareSearchFormValidation();
        });

        configCompareSearchTextEvent();

        document.querySelectorAll('.search-pannel div').forEach(function (item) {
            var pre_selected_item = document.querySelector('.search-pannel .compared-search');
            item.addEventListener('click', function () {
                select_pannel(item);
                pre_selected_item = item;

                if (item.classList.contains('compared-search')) {
                    location.href = "{% url 'product:CompareSearch' %}";
                }

                if (item.classList.contains('normal-search')) {
                    location.href = "{% url 'product:NormalSearch' %}";
                }

            });
            item.addEventListener('mouseover', function () {
                select_pannel(item);
            });
            item.addEventListener('mouseout', function () {
                select_pannel(pre_selected_item);
            });
        });

        configDropDownBoxEvent();
    });

    function configDropDownBoxEvent() {
        var div = document.querySelector('.drop-down-box a');
        var ul = document.querySelector('.drop-down-box ul');
        var is_cursor_in_drop_down = false;
        var option_form = document.getElementsByName('option')[0];

        ul.addEventListener('mouseenter', function () {
            is_cursor_in_drop_down = true;
        });
        ul.addEventListener('mouseleave', function () {
            is_cursor_in_drop_down = false;
        });
        div.addEventListener('click', function () {
            ul.classList.toggle('focusin');
            // div.classList.toggle('focusin');
        });
        div.addEventListener('focusout', function () {
            if (is_cursor_in_drop_down == false) {
                ul.classList.remove('focusin');
                // div.classList.toggle('focusin');
            }
        });
        document.querySelectorAll('.drop-down-box ul li').forEach(function (item, num) {
            item.addEventListener('click', function () {
                ul.classList.remove('focusin');
                // div.classList.toggle('focusin');
                div.innerHTML = item.innerHTML;
                option_form.value = item.getAttribute('data-option');
                compareSearchFormValidation();
            });
        });
    }

    // 검색할 배열
    var product_list = {{ all_products | safe }};

    // object 에 초성필드 추가 {name:"좋은느낌", diassembled:"ㅈㅇㄴㄲ"}
    product_list.forEach(function (item) {
        // Hangul.disassemble(str:string, grouped:boolean = false)
        var chosung_arr = Hangul.disassemble(item.name, true);
        var chosung = chosung_arr.reduce(function (acc_ele, ele) {
            return acc_ele + ele[0]; // 초성만 누적시켜 하나의 스트링으로 반환
        }, "");
        item.diassembled = chosung;
    });

    function configCompareSearchTextEvent() {
        var is_cursor_in_ul = false;
        var inputText = document.getElementById('compareSearchText');
        var ul = document.getElementById('autoCompleteText');

        inputText.addEventListener('focusin', function () {
            createSearchTextList(inputText, ul);
        });
        inputText.addEventListener('keyup', function () {
            createSearchTextList(inputText, ul);
        });
        inputText.addEventListener('focusout', function () {
            if (is_cursor_in_ul == false) {
                removeSearchTextList(ul);
            }
        });
        ul.addEventListener('mouseenter', function () {
            is_cursor_in_ul = true;
        });
        ul.addEventListener('mouseleave', function () {
            is_cursor_in_ul = false;
        });
    }

    function removeSearchTextList(ul) {
        // 기존 자동완성 ul 자식 노드 모두 삭제
        while (ul.hasChildNodes()) {
            ul.removeChild(ul.firstChild);
        }

        ul.classList.remove('focusin');
    }

    function createSearchTextList(inputText, ul) {
        removeSearchTextList(ul);

        var search = inputText.value;
        var search_chosung = Hangul.disassemble(search, true).reduce(function (acc_ele, ele) {
            return acc_ele + ele[0];
        }, "");

        product_list.filter(function (item) {
            return item.name.includes(search) || item.diassembled.includes(search_chosung);
        }).forEach(function (item, index) {
            // 검색결과 ul 아래에 li 로 추가
            var li = document.createElement('li');
            if (index > 4) {
                return;
            }
            li.innerHTML = item.name;
            li.addEventListener('click', function () {
                inputText.value = item.name;
                removeSearchTextList(ul);
            });

            ul.appendChild(li);
        });

        ul.classList.add('focusin');
    }

    // comparesearch / normalsearch 탭 선택
    function select_pannel(selected_item) {
        document.querySelectorAll('.search-pannel div').forEach(function (item) {
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }

    // comparesearch form 유효성 검사
    function compareSearchFormValidation() {
        var form = document.getElementById('compareSearchForm');
        var checkList = document.querySelectorAll("input[type='checkbox']:checked");
        var checkListStr = "";

        if (checkList.length > 0) {
            checkList.forEach(function (ele) {
                checkListStr += ele.value + ",";
            });
            checkListStr = checkListStr.substring(0, checkListStr.length - 1);
        }

        // 유효성 체크
        if (form.q.value == '') {
            alert("검색어를 입력해주세요");
            form.q.focus();
            return;
        }

        if (checkListStr == '') {
            alert("비교조건을 선택해주세요");
            return;
        }

        form.compareConditionList.value = checkListStr;
        form.submit();
    }
</script>

{% endblock %}