{% extends "base_generic.html" %}
{% load static %}
{% load js %}
{% block title %}
ChaeBi | 키워드 랭킹
{% endblock %}

{% block content %}

<div class="keyword-ranking-page">
    <form action="{% url 'KeywordRanking' %}" method="GET" id="keywordSearchForm">
        <div class="jumbotron jumbotron-fluid search-condition-box justify-content-center">
            <div class="keyword-header row col-xl-8 col-lg-7 col-md-8 col-sm-8 col-8 justify-content-between">
                <div class="condition-keyword col-xl-1 col-lg-1 col-md-1 col-sm-1 col-6">
                    <label class="selected" id="keyword-score" onclick="keywordSearchFormSubmit()">
                        <input type="radio" name="keyword" value="score">
                        <div class="d-flex flex-column">
                            <i class="fas fa-3x fa-trophy"></i>
                            <span class="text-nowrap">종합</span>
                        </div>
                    </label>
                </div>
                <div class="condition-keyword col-xl-1 col-lg-1 col-md-1 col-sm-1 col-6">
                    <label class="" id="keyword-absorbency" onclick="keywordSearchFormSubmit()">
                        <input type="radio" name="keyword" value="absorbency" id="absorbency">
                        <div class="d-flex flex-column">
                            <i class="fas fa-3x fa-tint"></i>
                            <span class="text-nowrap">흡수력</span>
                        </div>
                    </label>
                </div>
                <div class="condition-keyword col-xl-1 col-lg-1 col-md-1 col-sm-1 col-6 pt-sm-0 pt-4">
                    <label class="" id="keyword-anti_odour" onclick="keywordSearchFormSubmit()">
                        <input type="radio" name="keyword" value="anti_odour" id="anti_odour">
                        <div class="d-flex flex-column">
                            <i class="fas fa-3x fa-wind"></i>
                            <span class="text-nowrap">탈취력</span>
                        </div>
                    </label>
                </div>
                <div class="condition-keyword col-xl-1 col-lg-1 col-md-1 col-sm-1 col-6 pt-sm-0 pt-4">
                    <label class="" id="keyword-comfort" onclick="keywordSearchFormSubmit()">
                        <input type="radio" name="keyword" value="comfort" id="comfort">
                        <div class="d-flex flex-column">
                            <i class="fas fa-3x fa-water"></i>
                            <span class="text-nowrap">촉감/착용감</span>
                        </div>
                    </label>
                </div>
                <div class="condition-keyword col-xl-1 col-lg-1 col-md-1 col-sm-1 col-6 pt-sm-0 pt-4">
                    <label class="" id="keyword-sensitivity" onclick="keywordSearchFormSubmit()">
                        <input type="radio" name="keyword" value="sensitivity" id="sensitivity">
                        <div class="d-flex flex-column">
                            <i class="fas fa-3x fa-allergies font"></i>
                            <span class="text-nowrap">피부 친화도</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="container ranking-result">
            <ul style="list-style-type:none" ;>
                {% for product in paginator.page_obj %}
                <li>
                    <div
                        class="product row d-flex justify-md-content-between justify-content-sm-center justify-content-center ">
                        <div
                            class="col-xl-6 col-lg-7 col-md-6 col-sm-12 col-12 justify-content-md-start  justify-content-xl-start  justify-content-center justify-content-sm-center justify-content-center d-flex">
                            <div class="text-nowrap p-2" style="font-size: 24px; font-weight: 500;">
                                {{ paginator.page_obj.number | get_current_page:forloop.counter }}위</div>
                            <div class="p-2"><a href="{{ product.get_absolute_url }}"><img
                                        src="{{ product.product_fk.image.url }}" alt="" /></a></div>
                            <div class="product-info d-flex flex-column align-items-start mr-sm-0 mr-0 p-2  ">
                                <h4 class="m-0">{{ product.product_fk.brand_fk }}</h4>
                                <h3 class="text-nowrap">{{ product.product_fk.name }}</h3>
                                <div class="score d-flex flex-column align-items-center">
                                    <span style=" color: #154800; margin-bottom: 3px;">예상만족도</span>
                                    <div class="badge badge-pill d-flex align-items-center">
                                        <span>★ {{ product.total_score|floatformat:1 }}</span>
                                    </div>

                                    <!-- <div class="nature p-2">
                                        <div style="margin-bottom: 3px;">자연유래도</div>
                                        <div class="badge badge-pill badge-primary">
                                            <i class="fas fa-leaf"></i>{{ product.product_fk.productingredient.nature_friendly_score|floatformat }}%
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div
                            class="status col-xl-6 col-lg-5 col-md-6 col-sm-10 col-12 row d-flex justify-content-md-end justify-content-center h-100 mt-4">
                            <div
                                class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-4 d-flex flex-column justify-content-around">
                                <span class="text-nowrap p-2">흡수력</span>
                                <span class="text-nowrap p-2">탈취성</span>
                                <span class="text-nowrap p-2">촉감/착용감</span>
                                <span class="text-nowrap p-2">피부친화도</span>
                            </div>
                            <div
                                class="col-xl-2 col-lg-3 col-md-3 col-sm-5 col-5 d-flex flex-column justify-content-around">
                                <div class="p-2">
                                    <div class="progress w-100">
                                        <div class="progress-bar" role="progressbar"
                                            aria-valuenow="{{ product.absorbency_avg }}"
                                            style="width: {% widthratio product.absorbency_avg 5 100 %}%"
                                            aria-valuemin="0" aria-valuemax="5"></div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="progress w-100">
                                        <div class="progress-bar" role="progressbar"
                                            aria-valuenow="{{ product.anti_odour_avg }}"
                                            style="width: {% widthratio product.anti_odour_avg 5 100 %}%"
                                            aria-valuemin="0" aria-valuemax="5"></div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="progress w-100">
                                        <div class="progress-bar" role="progressbar"
                                            aria-valuenow="{{ product.comfort_avg }}"
                                            style="width: {% widthratio product.comfort_avg 5 100 %}%" aria-valuemin="0"
                                            aria-valuemax="5"></div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="progress w-100">
                                        <div class="progress-bar" role="progressbar"
                                            aria-valuenow="{{ product.sensitivity_avg }}"
                                            style="width: {% widthratio product.sensitivity_avg 5 100 %}%"
                                            aria-valuemin="0" aria-valuemax="5"></div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-2 d-flex flex-column justify-content-around">
                                <div class="text-center p-2">{{ product.absorbency_avg|floatformat:1 }}</div>
                                <div class="text-center p-2">{{ product.anti_odour_avg|floatformat:1 }}</div>
                                <div class="text-center p-2">{{ product.comfort_avg|floatformat:1 }}</div>
                                <div class="text-center p-2">{{ product.sensitivity_avg|floatformat:1 }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <div class="no-result">
                    <p> 검색 결과가 없습니다.</p>
                </div>
                {% endfor %}
            </ul>
        </div>
        {% include 'pagination.html' with paginator=paginator %}
        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
    </form>
</div>


<script type="text/javascript">

    window.onload = function () {
        // 키워드 패널 pre-selected 온로드
        var pre_selected_keyword;
        if (window.location.href.indexOf('score') > -1) {
            pre_selected_keyword = document.getElementById('keyword-score');
        }
        else if (window.location.href.indexOf('absorbency') > -1) {
            pre_selected_keyword = document.getElementById('keyword-absorbency');
        }
        else if (window.location.href.indexOf('anti_odour') > -1) {
            pre_selected_keyword = document.getElementById('keyword-anti_odour');
        }
        else if (window.location.href.indexOf('comfort') > -1) {
            pre_selected_keyword = document.getElementById('keyword-comfort');
        }
        else if (window.location.href.indexOf('sensitivity') > -1) {
            pre_selected_keyword = document.getElementById('keyword-sensitivity');
        }
        else {
            pre_selected_keyword = document.getElementById('keyword-score');
        }
        select_keyword_label(pre_selected_keyword);

        console.log(pre_selected_keyword);

        // 상단 패널 pre-selected 온로드
        var pre_selected_item = document.querySelector('.ranking-pannel .keyword-ranking');
        document.querySelectorAll('.ranking-pannel div').forEach(function (item) {
            item.addEventListener('click', function () {
                select_pannel(item);
                pre_selected_item = item;

                if (item.classList.contains('mtype-ranking')) {
                    location.href = "{% url 'MtypeRanking' %}";
                }

                if (item.classList.contains('keyword-ranking')) {
                    location.href = "{% url 'KeywordRanking' %}";
                }

            });
            item.addEventListener('mouseover', function () {
                select_pannel(item);
            });
            item.addEventListener('mouseout', function () {
                select_pannel(pre_selected_item);
            });
        });


    }

    function keywordSearchFormSubmit() {
        document.getElementById('keywordSearchForm').submit();
    }

    // MtypeRanking / KeywordRanking 탭 선택
    function select_pannel(selected_item) {
        document.querySelectorAll('.ranking-pannel div').forEach(function (item) {
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }

    // keyword condition 박스에서 키워드 선택
    function select_keyword_label(selected_item) {
        document.querySelectorAll('.search-condition-box label').forEach(function (item) {
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }


</script>

{% endblock %}