{% extends "base_generic.html" %}

{% block content %}

<div>
    내 키트
    <br/>
    {{user.type}}
    <a herf="{{M-Type 검사페이지}}">M-Type 재검사</a>
</div>

{% if 내 키트가 있으면 %}
<div>
    <ul>
        {% for 상품 in user.패드카트 %}
        <li>
            <a herf="{{product_detail로가는URL}}">
                <div>
                    {{product.image}}
                    {{product.title}}
                    {{product.price}}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}
<div>
    <p>검색결과가 없습니다.</p>
</div>
{% endif %}

{% endblock %}