{% extends "base_generic.html" %}
{% block content %}
    <div class="index container">
        <div class="main">
            <div class="box row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col text-center">
                    <h6>검사하기 관련 설명글 및 이미지</h6>
                    <div class="btn-cover"><a class="btn-more" href="#">검사하기</a></div>
                </div>
                <div class="col text-center">
                    <h6>비교하기 관련 설명글 및 이미지</h6>
                    <div class="btn-cover"><a class="btn-more" href="#">비교하기</a></div>
                </div>
            </div>
        <div class="mtype-info">
            <div class="subject row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-sm-4 text-center">
                    <h4>M-type이란?</h4>
                </div>
                <div class="col-sm-8 text">
                    <p>여성의 몸의 다양한 월경타입을 4가지 기준으로 분류한 것으로, 우선 내 몸을 더욱 잘 알게 해주며,
                        타입별 월경 라이프스타일을 구상할 때 그 출발점이 되어 줍니다.
                    </p>
                </div>
            </div>
            <div class="detail wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-sm-8"><img src="" height="100%" width="100%" class="img-responsive" alt="m-type image description"></div>
                <div class="col-sm-4">
                    <span id="subtext">나만의 M-type 예시</span>
                    <h3 id="type">IHTF</h3>
                    <p>그렇다면,<br>내 M-type에 맞는 퍼스널 생리대는?</p>
                </div>
            </div>
        </div>
        <div class="additional-info">
            <div class="content-box wow fadeInUp" data-wow-delay="0.5s">
                <h5 class="title">M-type과 그에 맞는<br>퍼스널 생리대를 아는 것은 왜 필요할까?</h5>
                <p class="text-center">여성의 월경타입은 개인마다 제각각이고<br>그에 맞는 타입 유형은 너무나도 다양하다</p>
                <img class="img-responsive" width=100% src="" alt="image description"><div>
            </div>
            <div class="content-box wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <p>그러나 정작, 월경용품에는 다양성이 없다</p>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <img class="img-responsive" width=100% src="" alt="image description">
                    </div>
                </div>
            </div>
            <div class="content-box wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <img class="img-responsive" width=100% src="" alt="image description">
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <p>어쩌고 저쩌고 한다면 ?</p>
                    </div>
                </div>
            </div>
            <div class="content-box wow fadeInUp" data-wow-delay="0.5s">
                <p class="text-center">직접 테스트해보고 구매해야 하는 번거로움 Down,<br>
                    나만의 퍼스널 월경용품과 운명적으로 만날 확률 UP!<br>
                    손쉽게 월경생활의 질 UP!
                </p>
                <div><img class="img-responsive" width=100% src="" alt="image description"></div>
            </div>
            <div id="gradation"></div>
            <div class="dal-story wow fadeInUp" data-wow-delay="0.5s">
                <div class="story-title row">
                    <div class="col-sm-4 text-center">
                        <h5>D.A.L. 스토리</h5>
                    </div>
                    <div class="col-sm-8 text">
                        <p>여성의 몸의 다양한 월경타입을 4가지 기준으로 분류한 것으로, 우선 내 몸을 더욱 잘 알게 해주며,<br>
                            타입별 월경 라이프 스타일을 구상할 때 그 출발점이 되어 줍니다.
                        </p>
                    </div>
                </div>
                <div class="sub" style="height:200px;"></div>
            </div>
        </div>
        <div class="photo">
            <div class="text-center wow fadeInUp" data-wow-delay="0.5s">
                <h5>Dear women<br>
                Another world has come<br>
                Love yourself</p></div>
            <div class="gradation"></div>
            <div><img height=300px width=100% lass="img-responsive" src="" alt="image description"></div>
        </div>
        <div class="site-info">
            <div class="subject row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-sm-4 text-center"><h4>사이트 소개</h4></div>
                <div class="col-sm-8 text"><p>
                    유월 Web 설명글입니다. 유월 Web 설명글입니다. 유월 Web 설명글입니다. 
                    <br>유월 Web 설명글입니다. 유월 Web 설명글입니다. 유월 Web 설명글입니다. 유월 Web 설명글입니다.
                </p></div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col">
                    <div class="img"><img class="img-responsive" width=100% src="" alt="image description"></div>
                    <div class="text-center">
                        <span>나의 M-type</span>
                        <p>나만의 M-type을 검사해보고<br>
                        월경타입에 맞는 맞춤 서비스를 이용하자</p></div>
                </div>
                <div class="col">
                    <div class="img"><img class="img-responsive" width=100% src="" alt="image description"></div>
                    <div class="text-center">
                        <span>나의 M-type</span>
                        <p>나만의 M-type을 검사해보고<br>
                        월경타입에 맞는 맞춤 서비스를 이용하자</p></div>
                </div>
                <div class="col">
                    <div class="img"><img class="img-responsive" width=100% src="" alt="image description"></div>
                    <div class="text-center">
                        <span>나의 M-type</span>
                        <p>나만의 M-type을 검사해보고<br>
                        월경타입에 맞는 맞춤 서비스를 이용하자</p></div>
                </div>
            </div>
        </div>
    </div>

    <a href="javascript:void(0);">검사하기</a>
    {% if mtype %}
    <p>당신 타입은 {{ mtype }}입니다 이거 가져와라</p>
    <p>survey id = {% if survey_id %}{{ survey_id }}{% else %} cant find{% endif %}</p>
    {% endif %}
    
    {% if form %}
    <form action="" method="post">
    {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="확인">
    </form>
    {% endif %}

{% endblock %}