{% extends "base_generic.html" %}

{% block title %}
ChaeBi
{% endblock %}

{% block content %}

<div class="index container">
    <div class="main row wow fadeInUp d-flex justify-content-center align-items-end bg-dark" data-wow-delay="0.4s">
        <div class="pb-5 text-center">
            <div class="btn-cover">
                <a class="btn-more" id="surveyButton" data-toggle="modal" data-target="#surveyModal">
                    {% if recheck %}재검사하기{% else %}검사하기{% endif %}
                </a>
            </div>
        </div>
    </div>

    <div class="mtype-info">
        <div class="subject row wow fadeInUp d-flex flex-column align-items-start" data-wow-delay="0.4s">
            <div class="title-box">
                <div class="text-center">
                    <h4>M-type는 무엇인가요?</h4>
                </div>
            </div>
            <div class="text-box">
                <p>여성의 몸의 다양한 월경타입을 4가지 기준으로 분류한 것으로, 우선 내 몸을 더욱 잘 알게 해주며,<br>
                    타입별 월경 라이프스타일을 구상할 때 그 출발점이 되어 줍니다.
                </p>
            </div>
        </div>
        <div class="detail row wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-xs-12 col-sm-8 p-0">
                <img width=100% height=100% src="https://via.placeholder.com/800x300?mtype-image" class="img-responsive"
                    alt="m-type image description">
            </div>
            <div class="col-xs-12 col-sm-4 p-5">
                <span id="subtext">나만의 M-type 예시</span>
                <h3 class="mt-1 " id="type">IHTF</h3>
                <p>그렇다면,<br>내 M-type에 맞는 퍼스널 생리대는?</p>
            </div>
        </div>
    </div>
    <div class="additional-info">
        <div class="content-box wow fadeInUp" data-wow-delay="0.4s">
            <h5 class="title pb-4">M-type과 그에 맞는<br>퍼스널 생리대를 아는 것은 왜 필요할까?</h5>
            <p class="text-left">여성의 월경타입은 개인마다 제각각이고<br>그에 맞는 타입 유형은 너무나도 다양하다</p>
            <img class="img-responsive" width=100% src="https://via.placeholder.com/800x300" alt="image description">
        </div>
        <div class="content-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <p>그러나 정작, 월경용품에는 다양성이 없다</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <img class="img-responsive" width=100% src="https://via.placeholder.com/800x300"
                        alt="image description">
                </div>
            </div>
        </div>
        <div class="content-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <img class="img-responsive" width=100% src="https://via.placeholder.com/800x300"
                        alt="image description">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>어쩌고 저쩌고 한다면 ?</p>
                </div>
            </div>
        </div>
        <div class="content-box wow fadeInUp" data-wow-delay="0.4s">
            <p class="text-center">직접 테스트해보고 구매해야 하는 번거로움 Down,<br>
                나만의 퍼스널 월경용품과 운명적으로 만날 확률 UP!<br>
                손쉽게 월경생활의 질 UP!
            </p>
            <div><img class="img-responsive" width=100% src="https://via.placeholder.com/800x300"
                    alt="image description"></div>
        </div>
        <div class="dal-story wow fadeInUp" data-wow-delay="0.4s">
            <div class="gradation"></div>
            <div class="story-title row">
                <div class="col-sm-4 text-center">
                    <h5>D.A.L. 스토리</h5>
                </div>
                <div class="col-sm-8 text">
                    <p>여성의 몸의 다양한 월경타입을 4가지 기준으로 분류한 것으로, 우선 내 몸을 더욱 잘 알게 해주며,<br>
                        타입별 월경 라이프 스타일을 구상할 때 그 출발점이 되어 줍니다.
                    </p>
                </div>
            </div>
            <div class="sub"></div>
        </div>
    </div>
    <div class="photo">
        <div class="text-center wow fadeInUp main-text" data-wow-delay="0.5s">
            <h5>Dear women<br>
                Another world has come<br>
                Love yourself</p>
        </div>
        <!--<div class="gradation"></div>-->
        <div><img width=100% lass="img-responsive" src="https://via.placeholder.com/800x800" alt="image description">
        </div>
    </div>
    <div class="site-info">
        <div class="subject row wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-sm-4 text-center">
                <h4>사이트 소개</h4>
            </div>
            <div class="col-sm-8 text">
                <p>
                    유월 Web 설명글입니다. 유월 Web 설명글입니다. 유월 Web 설명글입니다.
                    <br>유월 Web 설명글입니다. 유월 Web 설명글입니다. 유월 Web 설명글입니다. 유월 Web 설명글입니다.
                </p>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="0.5s">
            <div class="col">
                <div class="img"><img class="img-responsive" width=100% src="https://via.placeholder.com/400x300"
                        alt="image description"></div>
                <div class="text-center">
                    <span>나의 M-type</span>
                    <p>나만의 M-type을 검사해보고<br>
                        월경타입에 맞는 맞춤 서비스를 이용하자</p>
                </div>
            </div>
            <div class="col">
                <div class="img"><img class="img-responsive" width=100% src="https://via.placeholder.com/400x300"
                        alt="image description"></div>
                <div class="text-center">
                    <span>나의 M-type</span>
                    <p>나만의 M-type을 검사해보고<br>
                        월경타입에 맞는 맞춤 서비스를 이용하자</p>
                </div>
            </div>
            <div class="col">
                <div class="img"><img class="img-responsive" width=100% src="https://via.placeholder.com/400x300"
                        alt="image description"></div>
                <div class="text-center">
                    <span>나의 M-type</span>
                    <p>나만의 M-type을 검사해보고<br>
                        월경타입에 맞는 맞춤 서비스를 이용하자</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--
        <div id="surveyModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <input type="button" class="close" data-dismiss="modal" value="&times">
                    <form action="" method="POST" id="surveyForm">{% csrf_token %}
                        {% if mtype %}
                        <div class="survey-result-container">
                            <div class="text-center">
                                <span class="mini">수고하셨습니다 :)</span>
                            </div>
                            <div class="surveyResult">
                                <div class="Q">
                                    <p>당신의 월경타입은<br><b>{{ mtype }}</b>입니다!</p>
                                    <p>survey id = {% if survey_id %}{{ survey_id }}{% else %} cant find{% endif %}</p>
                                </div>
                                <div class="survey-result">
                                  <p></p>
                                </div>
                                <div>
                                    <h4>{{ mtype }}타입 <b>BEST3</b> 제품</h4>
                                </div>
                                <div class="best-product">
                                    <div class="row">
                                        <div class="col"><img src="" alt="1위추천제품"></div>
                                        <div class="col"><img src="" alt="2위추천제품"></div>
                                        <div class="col"><img src="" alt="3위추천제품"></div>
                                    </div>
                                </div>
                                <div class="more-info">
                                     <span>더 자세한 정보를 알고 싶다면?</span>
                                     <a href="#" class="sign-up">회원가입</a>
                                     <div class="text-center">
                                         <p><br>이미 가입하셨다면,<a href="#"><b>로그인하기</b></a></p>
                                     </div>
                                </div>
                            </div>
                        </div>
                       
                        {% else %}
                        <div class="questionnaire">
                            <div class="text-center">
                                <span class="mini">나만의 월경타입 찾아보기</span>
                            </div>
                            <div class="text-center">
                                <div class="mySlides fadein">
                                    <div class="Q">
                                        <p>Q1<br><b>월경 시 활동량</b>은 어떤가요?</p>
                                    </div>
                                    <div class="Q1">
                                        <label for="id_activity_score_0"><div class="ChoiceBox q1ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.activity_score.0 }}
                                        </div></label>
                                        <label for="id_activity_score_1"><div class="ChoiceBox q1ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.activity_score.1 }}
                                        </div></label>
                                        <label for="id_activity_score_2"><div class="ChoiceBox q1ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.activity_score.2 }}
                                        </div></label>
                                        <label for="id_activity_score_3"><div class="ChoiceBox q1ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.activity_score.3 }}
                                        </div></label>
                                        <label for="id_activity_score_4"><div class="ChoiceBox q1ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.activity_score.4 }}
                                        </div></label>
                                        <label for="id_activity_score_5"><div class="ChoiceBox q1ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.activity_score.5 }}
                                        </div></label>
                                    </div>
                                </div>
                                <div class="mySlides fadein">
                                    <div class="Q">
                                        <p>Q2<br>주로 사용하는<br><b>월경용품</b>은 무엇인가요?</p>
                                    </div>
                                    <div class="Q2">
                                        <label for="id_volume_choice_0"><div class="ChoiceBox q2ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.volume_choice.0 }}</div></label>
                                        <label for="id_volume_choice_1"><div class="ChoiceBox q2ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.volume_choice.1 }}</div></label>
                                        <label for="id_volume_choice_2"><div class="ChoiceBox q2ChoiceBox">
                                            <img src="" class="image" alt="image">
                                            {{ form.volume_choice.2 }}</div></label>
                                    </div>
                                </div>
                                <div class="mySlides fadein">
                                    <div class="Q">
                                        <p>Q3<br><b>양이 가장 많은 날</b>, 생리대를<br><b>몇시간에 한 번</b> 갈아주시나요?</p>
                                    </div>
                                    <div class="Q3">
                                        <div class="ChoiceBox q3ChoiceBox">{{ form.volume_score.0 }}</div>
                                        <div class="ChoiceBox q3ChoiceBox">{{ form.volume_score.1 }}</div>
                                        <div class="ChoiceBox q3ChoiceBox">{{ form.volume_score.2 }}</div>
                                        <div class="ChoiceBox q3ChoiceBox">{{ form.volume_score.3 }}</div>
                                        <div class="ChoiceBox q3ChoiceBox">{{ form.volume_score.4 }}</div>
                                    </div>
                                </div>
                                <div class="mySlides fadein">
                                    <div>{{ form.volume_extra_score.0 }}</div>
                                    <div>{{ form.volume_extra_score.1 }}</div>
                                    <div>{{ form.volume_extra_score.2 }}</div>
                                    <div>{{ form.volume_extra_score.3 }}</div>
                                    <div>{{ form.volume_extra_score.4 }}</div>
                                    <div>{{ form.volume_extra_score.5 }}</div>
                                </div>
                                <div class="mySlides fadein">
                                    <div class="Q">
                                        <p>Q5<br>바디 민감도를 측정합니다.<br>해당 사항에 모두 체크해 주세요.</p>
                                    </div>
                                    <div>
                                        <div>{{ form.sensitivity_score.0 }}</div>
                                        <div>{{ form.sensitivity_score.1 }}</div>
                                        <div>{{ form.sensitivity_score.2 }}</div>
                                        <div>{{ form.sensitivity_score.3 }}</div>
                                        <div>{{ form.sensitivity_score.4 }}</div>
                                        <div>{{ form.sensitivity_score.5 }}</div>
                                        <div>{{ form.sensitivity_score.6 }}</div>
                                    </div>
                                </div>
                                <div class="mySlides fadein">
                                    <div class="Q">
                                        <p>Q6<br>월 경질환 정도를 측정합니다.<br>해당 사항에 모두 체크해주세요.</p>
                                    </div>
                                    <div>
                                        <div>{{ form.disease_score.0 }}</div>
                                        <div>{{ form.disease_score.1 }}</div>
                                        <div>{{ form.disease_score.2 }}</div>
                                        <div>{{ form.disease_score.3 }}</div>
                                        <div>{{ form.disease_score.4 }}</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a class="prev" onclick="plusSlides(-1)">&#10094; 이전</a>
                                <a class="next" onclick="plusSlides(1)">다음 &#10095;</a>
                                <div class="text-center bars">
                                    <span class="slide-bar" onclick="currentbar(1)"></span> 
                                    <span class="slide-bar" onclick="currentbar(2)"></span> 
                                    <span class="slide-bar" onclick="currentbar(3)"></span> 
                                    <span class="slide-bar" onclick="currentbar(4)"></span> 
                                    <span class="slide-bar" onclick="currentbar(5)"></span> 
                                    <span class="slide-bar" onclick="currentbar(6)"></span> 
                                </div>
                            </div>
                            <input id="submit" class="next" type="submit" value="제출">
                        </div>

                        {% endif %}
                        
                    </form>
                </div>
            </div>
        </div>
    -->




<!--
    <script type="text/javascript">

        var slideIndex = 1;
        showSlides (slideIndex);


        function plusSlides(n) {showSlides(slideIndex += n);}
        function currentSlide(n) {showSlides(slideIndex = n);}
        function showSlides(n) {
            var i;
            var prev = document.querySelector(".prev");
            var next = document.querySelector(".next");
            var bars = document.getElementsByClassName("slide-bar");
            var slides = document.getElementsByClassName("mySlides");
            var submit = document.querySelector("#submit");
            var lastpage = slides.length;
            if ( n == -1) {
                slides.style.display = "none";
            }
            for (i = 0; i < lastpage; i++) {
                slides[i].style.display = "none";
                submit.style.display="none"; 
                prev.style.display="block";
                next.style.display="block";
            }
            for (i = 0; i < bars.length; i++) {
                bars[i].className = bars[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            bars[slideIndex-1].className += " active";
            if (n == 1 ){
                prev.style.display = "none";
            }
            if (n == lastpage){
                next.style.display = "none";
                submit.style.display = "block";
            }
        }
        $('.close').on('click', function (e) {
            slideIndex=1;
            showSlides(1);
        })
        $('.close').on('click', function (e) {
            $('#surveyModal').find('form').trigger('reset');
        })

        $('#submit').click(function(event){
            event.preventDefault();
            $('#submit').prop('disabled', true);
            $.ajax({
                type: "POST",
                url: "/survey/",
                data: $('#surveyForm').serialize(),
                success: function (response) {
                    document.getElementById('survey-result-mtype').innerText = response;
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    alert("다시 시도해 주세요.");
                }
            }).done(function(){
                $('.questionnaire').hide();
                $('.survey-loading').show();
                setTimeout(function(){
                    $('.survey-loading').hide();
                    $('.survey-result-container').show();}, 3000);
        
            });
        });
       

    </script>-->

<!--<a href="javascript:void(0);">검사하기</a>
    {% if mtype %}
    <p>당신 타입은 {{ mtype }}입니다 이거 가져와라</p>
    <p>survey id = {% if survey_id %}{{ survey_id }}{% else %} cant find{% endif %}</p>
    {% endif %}
    
    {% if form %}
    <form action="" method="post">
    {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="확인">
    </form>
    {% endif %}-->