{% extends "base_generic.html" %}
{% load static %} <!-- 없어도 되는지 확인해주세요 -->

{% block content %}
<form action="{{% url '' %}}" method="post">
{% csrf_token %}

    <!-- 첫번째 질문 -->
    <div>
        <h2>Q1 월경 시 활동량은 어떤가요?</h2>
        <ul>
            <li>
                <label for="">q1</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">q2</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">q3</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">q4</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">q5</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">q6</label>
                <input id="" type="radio" name="" value=""/>
            </li>
        </ul>
    </div>
    
    <!-- 두번째 질문 -->
    <div>
        <h2>Q2 주로 사용하는 월경용품은 무엇인가요?</h2>
        <ul>
            <li>
                <label for="">생리대</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">탐폰</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">생리컵</label>
                <input id="" type="radio" name="" value=""/>
            </li>
        </ul>
    </div>
    <div>
        <h2>Q2 양이 가장 많은 날, 생리대를 몇 시간에 한 번 갈아주시나요?</h2>
        <ul>
            <li>
                <label for="">3시간 이내</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">3~4시간 마다</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">4~5시간 마다</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">5~6시간 마다</label>
                <input id="" type="radio" name="" value=""/>
            </li>
            <li>
                <label for="">6시간 이상</label>
                <input id="" type="radio" name="" value=""/>
            </li>
        </ul>
    </div>
    
    <!-- 세번째 질문 -->
    <div>
        <h2>Q3 바디민감도를 측정합니다. 해당 사항에 모두 체크해주세요.</h2>
        <ul>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">1</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">2</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">3</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">4</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">5</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">6</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">7</label>
            </li>
        </ul>
    </div>

    <!-- 네번째 질문 -->
    <div>
        <h2>Q4 월경질환 정도를 측정합니다. 해당 사항에 모두 체크해주세요.</h2>
        <ul>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">1</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">2</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">3</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">4</label>
            </li>
            <li>
                <input id="" type="checkbox" name="" value=""/>
                <label for="">5</label>
            </li>
        </ul>
    </div>
</form>
    
<!-- 설문 입력 완료 이후... -->
<div>
    <div>
        <span>수고하셨어요:)</span>
        <h2>당신의 월경타입은 {{ type }}입니다!</h2>
        <p>
            {{ type_description }}
        </p>
    </div>
    <div>
        <h2>{{ type }}타입 BEST3 제품</h2>
        <div>
            <ul>
                <li>
                    <span>1위</span>
                    <img src="{% static 'images/image.png' %}"/>
                </li>
                <li>
                    <span>2위</span>
                    <img src="{% static 'images/image.png' %}"/>
                </li>
                <li>
                    <span>3위</span>
                    <img src="{% static 'images/image.png' %}"/>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <span>더 자세한 정보를 알고 싶다면?</span>
        <a href="{% url '' %}">회원가입</a>
        <span>
            이미 가입하셨다면,
            <a href="{% url 'login' %}">로그인하기</a>
        </span>
    </div>
</div>
{% endblock %}