{% extends "base_generic.html" %}
{% load static %}

{% block title %}
ChaeBi | 키워드 랭킹
{% endblock %}

{% block content %}
    
<div class="keyword-ranking-page container">
    <!-- 상단 탭 -->
    <div class="ranking-pannel row">
        <div class="mtype-ranking col-sm-6">
            <h2>mtype 랭킹</h2>
            <span>내 타입과 같은 사람들이 평가한 랭킹을 보여드려요</span>
        </div>
        <div class="keyword-ranking col-sm-6 selected">
            <h2>keyword 랭킹</h2>
            <span>각 키워드에서 가장 인기 높은 상품을 보여드려요</span>
        </div>
    </div>

    <form action="{% url 'KeywordRanking' %}" method="GET" id="keywordSearchForm">
        
        <div class="search-condition-box row justify-content-md-center">                
            <div class="condition-keyword col-md-2">                    
                <label class="selected" id="keyword-score" onclick="keywordSearchFormSubmit()">
                    <input type="radio" name="keyword" value="score">
                    <span>
                        <i class="fas fa-3x fa-trophy"></i><br/>                            
                        종합
                    </span>
                </label>
            </div>
            <div class="condition-keyword col-md-2">
                <label class="" id="keyword-absorbency" onclick="keywordSearchFormSubmit()">
                    <input type="radio" name="keyword" value="absorbency" id="absorbency">
                    <span>
                        <i class="fas fa-3x fa-tint"></i><br/>                            
                        흡수력
                    </span>
                </label>
            </div>
            <div class="condition-keyword col-md-2">
                <label class="" id="keyword-anti_odour" onclick="keywordSearchFormSubmit()">
                    <input type="radio" name="keyword" value="anti_odour" id="anti_odour">
                    <span>
                        <i class="fas fa-3x fa-wind"></i><br/>                            
                        탈취력
                    </span>
                </label>
            </div>
            <div class="condition-keyword col-md-2">
                <label class="" id="keyword-comfort" onclick="keywordSearchFormSubmit()">
                    <input type="radio" name="keyword" value="comfort" id="comfort">
                    <span>
                        <i class="fas fa-3x fa-water"></i><br/>                            
                        촉감/착용감
                    </span>
                </label>
            </div>
            <div class="condition-keyword col-md-2">
                <label class="" id="keyword-sensitivity" onclick="keywordSearchFormSubmit()">
                    <input type="radio" name="keyword" value="sensitivity" id="sensitivity">
                    <span>
                        <i class="fas fa-3x fa-allergies"></i><br/>                       
                        피부 친화도
                    </span>
                </label>
            </div>                        
        </div>

        <div class="ranking-result">
            <ul style="list-style-type:none";>
            {% for reviewSummary in product_list %}
                <li>
                    <div class="d-flex">                    
                        <div class="p-2">{{ forloop.counter }}위</div>
                        <div class="p-2"><img src="{{reviewSummary.product_fk.image.url}}" alt=""/></div>
                        <div class="p-2 product-info">
                            {{ reviewSummary.product_fk.name }}<br/>
                            {{ reviewSummary.product_fk.price }}원 / {{ reviewSummary.product_fk.count }}개<br/>                                
                        </div>
                        <div class="ml-auto p-2 score">                                
                            {% if 'score' in query_string %}
                            종합점수 {{ reviewSummary.total_score }}점
                            {% elif 'absorbency' in query_string %}
                            흡수력 {{ reviewSummary.absorbency_avg }}점
                            {% elif 'anti_odour' in query_string %}
                            탈취성 {{ reviewSummary.anti_odour_avg }}점
                            {% elif 'comfort' in query_string %}
                            촉감/착용감 {{ reviewSummary.comfort_avg }}점                                    
                            {% elif 'sensitivity' in query_string %}
                            민감도 {{ reviewSummary.sensitivity_avg }}점
                            {% else %}
                            종합점수 {{ reviewSummary.total_score }}점
                            {% endif %}                                
                        </div>
                    </div>
                </li>
            {% empty %}
                <div class="no-result">
                    <p> 검색 결과가 없습니다.</p>
                </div>
            </ul>
            {% endfor %}
        </div>

        
        {% comment %} <div class="result-box row">
            <p class="col-12">총 {{ product_list|length }}개의 상품이 검색되었습니다</p>
            <div class="product-box col-12">                
                <ul class="row">
                    {% for reviewSummary in paginator.page_obj %}
                    <li class="col-lg-4 col-md-6 col-xs-12 my-4"
                        onclick="location.href='{{reviewSummary.product_fk.get_absolute_url}}'">
                        <div>
                            <div class="">
                                <div class="">
                                    {% if paginator.page_obj.number == 1 %}
                                    {% if forloop.counter0 < 3 %}
                                    <span class="rank">{{ forloop.counter }}위</span>
                                    {% endif %}
                                    {% endif %}
                                    <span>
                                        {% if 'score' in query_string %}
                                        종합점수 {{ reviewSummary.total_score }}점
                                        {% elif 'absorbency' in query_string %}
                                        흡수력 {{ reviewSummary.absorbency_avg }}점
                                        {% elif 'anti_odour' in query_string %}
                                        탈취성 {{ reviewSummary.anti_odour_avg }}점
                                        {% elif 'comfort' in query_string %}
                                        촉감/착용감 {{ reviewSummary.comfort_avg }}점                                    
                                        {% elif 'sensitivity' in query_string %}
                                        민감도 {{ reviewSummary.sensitivity_avg }}점
                                        {% else %}
                                        종합점수 {{ reviewSummary.total_score }}점
                                        {% endif %}
                                    </span>
                                </div>
                                <img class="" src="{{ reviewSummary.product_fk.image.url }}" alt="" />
                            </div c>
                            <span>{{ reviewSummary.product_fk.hashtag_fk.name }}</span>
                            <h2>{{ reviewSummary.product_fk.name }}({{ reviewSummary.product_fk.category }})</h2>
                        </div>
                    </li>
                    {% empty %}
                    <p>일치하는 검색결과가 없습니다.</p>
                    {% endfor %}
                </ul>
            </div>


        <!-- pagination -->
        <div>
            <ul class="my-pagination">
                <!-- 이전 페이지로 이동 -->
                {% if paginator.has_prev %}
                    <li class="nav"><a href="?page={{ paginator.prev_page }}{{ query_string }}">&laquo;</a></li>
                {% else %}
                    <!-- <li class="nav disabled">&laquo;</li> -->
                {% endif %}
                <!-- [1] [2] [3] -->
                {% for i in paginator.page_range %}     
                    {% if paginator.page_obj.number == i %}
                        <li class="disabled">&#91; {{ i }} &#93;</li>
                    {% else %}
                        <li><a href="?page={{ i }}{{ query_string }}">&#91; {{ i }} &#93;</a></li>
                    {% endif %}
                {% endfor %}
                <!-- 다음 페이지로 이동 -->
                {% if paginator.has_next %}
                    <li class="nav"><a href="?page={{ paginator.next_page }}{{ query_string }}">&raquo;</a></li>
                {% else %}
                    <!-- <li class="nav disabled">&raquo;</li> -->
                {% endif %}
            </ul>
        </div> {% endcomment %}

    </form>
</div>    


<script type="text/javascript">
    
    window.onload = function(){
        // 키워드 패널 pre-selected 온로드
        var pre_selected_keyword;
        if( window.location.href.indexOf('score') > -1 ){                    
            pre_selected_keyword = document.getElementById('keyword-score');
        }
        else if( window.location.href.indexOf('absorbency') > -1 ){
            pre_selected_keyword = document.getElementById('keyword-absorbency');
        }
        else if( window.location.href.indexOf('anti_odour') > -1 ){
            pre_selected_keyword = document.getElementById('keyword-anti_odour');
        }
        else if( window.location.href.indexOf('comfort') > -1 ){
            pre_selected_keyword = document.getElementById('keyword-comfort');
        }
        else if( window.location.href.indexOf('sensitivity') > -1 ){            
            pre_selected_keyword = document.getElementById('keyword-sensitivity');
        }
        else{
            pre_selected_keyword = document.getElementById('keyword-score');
        }
        select_keyword_label(pre_selected_keyword);

        console.log(pre_selected_keyword);
        
        // 상단 패널 pre-selected 온로드
        var pre_selected_item = document.querySelector('.ranking-pannel .keyword-ranking');                                
        document.querySelectorAll('.ranking-pannel div').forEach(function(item){
            item.addEventListener('click', function(){
                select_pannel(item);
                pre_selected_item = item;

                if( item.classList.contains('mtype-ranking') ){
                    location.href = "{% url 'MtypeRanking' %}";
                }

                if( item.classList.contains('keyword-ranking') ){
                    location.href = "{% url 'KeywordRanking' %}";
                }

            });
            item.addEventListener('mouseover', function(){
                select_pannel(item);
            });
            item.addEventListener('mouseout', function(){
                select_pannel(pre_selected_item);
            });
        });   
        
                       
    }

    function keywordSearchFormSubmit(){
        document.getElementById('keywordSearchForm').submit();
    }

    // MtypeRanking / KeywordRanking 탭 선택
    function select_pannel(selected_item){
        document.querySelectorAll('.ranking-pannel div').forEach(function(item){
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }

    // keyword condition 박스에서 키워드 선택
    function select_keyword_label(selected_item){
        document.querySelectorAll('.search-condition-box label').forEach(function(item){
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }
    

</script>

{% endblock %}