{% extends "base_generic.html"%}
{% load static %}

{% block title %}
ChaeBi | M-type 랭킹
{% endblock %}

{% block content %}
<div class="mtype-ranking-page container">
    <div class="ranking-top">
        <div class="ranking-header">
            <h2><mark>내 타입({{m_type}})</mark>의 최적생리대는?</h2>
            <span>돈과 시간을 들여 생리대를 시험해보지 마세요. 채비가 그 과정을 대신합니다.<br>
            당신의 타입에 딱 맞는 퍼스널 생리대가 랭킹별로 이곳에.</span>
            <div class="buttons">
                <button type="button" data-container="body" data-toggle="popover" data-html="true"
                data-placement="bottom" data-content=
                '<div>다른 타입의 제품랭킹은?</div>'>
                타입별 랭킹찾기
                </button>
                <button data-toggle="modal" data-target="#surveyModal">
                    M-Type 재검사
                </button>
            </div>
        </div>
        {% comment %} <div class="image">
            <img src="#">
        </div> {% endcomment %}
    </div>
    <div class="ranking-result">
        <ul style="list-style-type:none";>
        {% for product in products %}
            <li>
                <div class="d-flex flex-row product">
                    <div class="p-2" style="font-size: 24px; font-weight: 500;">{{ forloop.counter }}위</div>
                    <div class="p-2"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""/></a></div>
                    <div class="mr-auto p-2 product-info">
                        <h4>{{ product.brand_fk }}</h4>
                        <a href="{{ product.get_absolute_url }}"><h3>{{ product.name }}</h3></a>
                        <div class="score d-flex row">
                            <div class="satisfaction p-2">
                                <div style="color: #154800; margin-bottom: 3px;">예상만족도</div>
                                <div class="badge badge-pill badge-primary">★{{ product.reviewsummary.total_score|floatformat:1 }}</div>
                            </div>
                            <div class="nature p-2">
                                <div style="margin-bottom: 3px;">자연유래도</div>
                                <div class="badge badge-pill badge-primary">
                                    <i class="fas fa-leaf"></i>{{ product.productingredient.nature_friendly_score|floatformat }}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row status w-25">
                        <div class="col-sm-6 d-flex flex-column justify-content-around">
                            <div class="p-2">흡수력</div>
                            <div class="p-2">탈취성</div>
                            <div class="p-2">촉감/착용감</div>
                            <div class="p-2">피부친화도</div>
                        </div>
                        <div class="col-sm-4 d-flex flex-column justify-content-around">
                            <div class="p-2">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ product.reviewsummary.absorbency_avg }}" 
                                    style="width: {% widthratio product.reviewsummary.absorbency_avg 5 100 %}%" 
                                    aria-valuemin="0" aria-valuemax="5"></div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ product.reviewsummary.anti_odour_avg }}"
                                    style="width: {% widthratio product.reviewsummary.anti_odour_avg 5 100 %}%" 
                                    aria-valuemin="0" aria-valuemax="5"></div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ product.reviewsummary.comfort_avg }}"
                                    style="width: {% widthratio product.reviewsummary.comfort_avg 5 100 %}%" 
                                    aria-valuemin="0" aria-valuemax="5"></div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ product.reviewsummary.sensitivity_avg }}"
                                    style="width: {% widthratio product.reviewsummary.sensitivity_avg 5 100 %}%" 
                                    aria-valuemin="0" aria-valuemax="5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 d-flex flex-column justify-content-around">
                            <div class="p-2">{{ product.reviewsummary.absorbency_avg|floatformat:1 }}</div>
                            <div class="p-2">{{ product.reviewsummary.anti_odour_avg|floatformat:1 }}</div>
                            <div class="p-2">{{ product.reviewsummary.comfort_avg|floatformat:1 }}</div>
                            <div class="p-2">{{ product.reviewsummary.sensitivity_avg|floatformat:1 }}</div>
                        </div>
                    </div>
                </div>
            </li>
        {% empty %}
            <div class="no-result">
                <p> 검색 결과가 없습니다.</p>
            </div>
        {% endfor %}
        </ul>
    </div>
    <script>
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });
    </script>
</div>
{% endblock %}