{% extends "base_generic.html"%}
{% load static %}

{% block title %}
ChaeBi | M-type 랭킹
{% endblock %}

{% block content %}

<div class="mtype-ranking-page container">
    <div class="ranking-top">
        <div class="ranking-header">
            <h2>내 타입({{m_type}})의 최적 생리대는?</h2>
            <span>돈과 시간을 들여 생리대를 시험해보지 마세요. 채비가 그 과정을 대신합니다.<br>
            당신의 타입에 딱 맞는 퍼스널 생리대가 랭킹별로 이곳에.</span>
            <div class="button">
                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    타입별 랭킹찾기
                </a>
                <a href="#">M-Type 재검사</a>
            </div>
            <div class="collapse" id="collapseExample">
                <p>다른 타입의 제품랭킹은?</p>

            </div>
        </div>
        <div>
            <img src="#">
        </div>
    </div>

    <div class="container col-12">
        <form action = "{% url 'MtypeRanking' %}" method = "POST">
            {% csrf_token %}            
            <button type="submit" class="btn btn-primary">Submit</button>
            {% comment %} A or I {% endcomment %}
            <div class="switch switch--vertical">
            <input id="radio-a" type="radio" name="toggle-1" {% if 'A' in m_type%}checked="checked"{% endif %}/> 
            <label for="radio-a">A</label>
            <input id="radio-i" type="radio" name="toggle-1"/>
            <label for="radio-i">I</label><span class="toggle-outside"><span class="toggle-inside"></span></span>

        
            {% comment %} H or L {% endcomment %}

            <div class="switch switch--vertical">
            <input id="radio-h" type="radio" name="toggle-2" {% if 'H' in m_type%}checked="checked"{% endif %}/>
            <label for="radio-h">H</label>
            <input id="radio-l" type="radio" name="toggle-2"/>
            <label for="radio-l">L</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
            
            {% comment %} S or T {% endcomment %}
            <div class="switch switch--vertical">
            <input id="radio-s" type="radio" name="toggle-3" {% if 'S' in m_type%}checked="checked"{% endif %}/>
            <label for="radio-s">S</label>
            <input id="radio-t" type="radio" name="toggle-3"/>
            <label for="radio-t">T</label><span class="toggle-outside"><span class="toggle-inside"></span></span>

            {% comment %} P or F {% endcomment %}
            <div class="switch switch--vertical">
            <input id="radio-p" type="radio" name="toggle-4" {% if 'P' in m_type%}checked="checked"{% endif %}/>
            <label for="radio-p">P</label>
            <input id="radio-f" type="radio" name="toggle-4"/>
            <label for="radio-f">F</label><span class="toggle-outside"><span class="toggle-inside"></span></span>


        </form>
    </div>
    {% comment %} <div class="d-flex ranking-top">
        <div class="p-2 ranking-header">
            <h2>내 타입({{currentUser.profile.survey_fk.mtype}})의 최적 생리대는?</h2>
            <span>나와 같은 월경타입의 사람들이 평가한 순위</span><br>
        </div>

        <div class="ml-auto p-2 row ranking-sub">
            <div class="col"><a href="#">타입별 랭킹찾기</a></div>
            <div class="col"><a href="#">M-Type 재검사</a></div>
        </div>
    </div> {% endcomment %}

    <div class="ranking-result">
        <ul style="list-style-type:none";>
        {% for product in products %}
            <li>
                <div class="d-flex">                    
                    <div class="p-2">{{ forloop.counter }}위</div>
                    <div class="p-2"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""/></a></div>
                    <div class="p-2 product-info">
                        <h4>{{ product.brand_fk }}</h4>
                        <h3>{{ product.name }}</h3>
                        <div>
                            예상만족도 {{ product.reviewsummary.total_score }}
                            자연유래도 {{ product.productingredient.nature_friendly_score }}%
                        </div>
                    </div>
                    <div class="ml-auto p-2 score">
                        <span>흡수력 {{ product.reviewsummary.absorbency_avg|floatformat:1 }}</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="4" style="width: {% widthratio product.reviewsummary.absorbency_avg 5 100 %}%" aria-valuemin="0" aria-valuemax="5"></div>
                        </div>
                        <span>탈취성 {{ product.reviewsummary.anti_odour_avg|floatformat:1 }}</span>
                        <span>촉감/착용감 {{ product.reviewsummary.comfort_avg|floatformat:1 }}</span>
                        <span>피부친화도 {{ product.reviewsummary.sensitivity_avg|floatformat:1 }}</span>
                    </div>
                </div>
            </li>
        {% empty %}
            <div class="no-result">
                <p> 검색 결과가 없습니다.</p>
            </div>
        {% endfor %}
        </ul>
    </div>
</div>


<script type="text/javascript">

    window.onload = function(){
        var pre_selected_item = document.querySelector('.ranking-pannel .mtype-ranking');                                        

        document.querySelectorAll('.ranking-pannel div').forEach(function(item){
            item.addEventListener('click', function(){
                select_pannel(item);
                pre_selected_item = item;

                if( item.classList.contains('mtype-ranking') ){
                    location.href = "{% url 'MtypeRanking' %}";
                }

                if( item.classList.contains('keyword-ranking') ){
                    location.href = "{% url 'KeywordRanking' %}";
                }

            });
            item.addEventListener('mouseover', function(){
                select_pannel(item);
            });
            item.addEventListener('mouseout', function(){
                select_pannel(pre_selected_item);
            });
        });                 
    }

    function select_pannel(selected_item){
        document.querySelectorAll('.ranking-pannel div').forEach(function(item){
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }

</script>



{% endblock %}