.navbar {
  width: 100%;
  max-width: 1280px;
  height: 5%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.modal {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
}

.modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0px;
}

#loginModal.modal.fade {
  position: absolute;
  left: 50%;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

#loginModal.modal.fade.show {
  left: 0;
}

#loginModal .modal-dialog {
  width: 547px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
}

#loginModal .modal-dialog .modal-content {
  border: 0;
  margin: 0;
  border-radius: 0;
}

#loginModal .modal-dialog .modal-content>input[type="button"] {
  width: fit-content;
  height: fit-content;
  font-size: 50px;
  font-weight: 100;
  border: 0;
  background: none;
}

#loginModal #account-header {
  padding: 50px 0 10px 0;
  font-size: 30px;
}

#loginModal form input[type="email"],
#loginModal form input[type="password"] {
  border-radius: 0;
  border: 1px solid #707070;
  width: 100%;
  padding: 25px 20px;
  font-size: 18px;
  margin: 10px 0;
}

#loginModal div.row div {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

#loginModal div.row div a {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  vertical-align: top;
}

#loginModal .btn-login {
  border: none;
  padding: 20px;
  font-size: 18px;
  background-color: #838383;
  width: 100%;
  color: #FFFFFF;
  font-weight: 100;
}

#loginModal form + p {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	font-size: 16px;
	margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
  line-height: 0px;
}

.hr-sect::before {
	margin-right: 10px;
}

.hr-sect::after {
	margin-left: 10px;
}

button.like-link {
  background: none !important;
  border: none;
  padding: 8px;
  /*input has OS specific font-family*/
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}