/*
    비교검색 스타일
*/

.compare-search-page {

    // 상단 패널
    .pannel{
        padding: 80px 0;
        border-bottom: solid 1px #bebebe;

        .pannel-title{
            padding: 15px;
            text-align: center;
            font-size: 2em;
        }
        .pannel-description{
            text-align: center;
            color: #bebebe;            
        }
    }
    
    
    // .search-pannel div {
    //     padding: 60px 10px 40px;
    //     border-bottom: 2px solid #bebebe;
    //     color: #bebebe;
    //     transition: all 0.5s;
    //     cursor: pointer;

    //     h2 {
    //         color: inherit;
    //         margin: 12px 0;
    //         font-size: 22px;
    //         font-weight: bold;
    //         cursor: pointer;
    //     }

    //     span {
    //         cursor: pointer;
    //         color: inherit;
    //     }

    //     &.selected {
    //         border-bottom-color: #272727;
    //         color: #1e1e1e;
    //     }
    // }
    

    // 비교검색 조건입력 박스
    .search-content-box {
        padding: 50px 0;

        div.search-option>div {

            span {
                display: inline-block;
                font-weight: bold;
                margin: 0 10px;
            }

            @media (max-width: $breakpoint-largedesktop) {
                &:last-child span {
                    margin-bottom: 15px;
                }
            }

            @media (max-width: $breakpoint-desktop) {
                &.checkbox-box {
                    max-width: 550px;
                    margin: 17px auto;
                    display: inline-flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }

            #compareSearchText {
                padding: 5px 10px;
                border: solid 1px #bebebe;
                background-color: #f6f6f6;
                width: 170px;
                margin: 0 10px;
            }

            #autoCompleteText {
                margin: 0 10px;
                position: absolute;
                border: solid 1px #bebebe;
                border-top: none;
                background-color: #f6f6f6;
                width: 170px;
                z-index: 10;
                transition: all 0.5s;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 0.1s, opacity 0.1s linear;

                &.focusin {
                    visibility: visible;
                    opacity: 1;
                    transition-delay: 0;
                    transition-duration: 0.4s;
                }

                li {
                    text-align: left;
                    cursor: pointer;
                    padding: 10px 10px;

                    &:hover {
                        background-color: #2b5e2e;
                        color: #FFFFFF;
                    }
                }
            }

            input {
                &[type="checkbox"] {
                    display: none;

                    +label {
                        padding: 9px 20px;
                        margin: 5px;
                        opacity: 0.35;
                        border-radius: 26px;
                        border: solid 1px #979797;
                        font-weight: normal;
                        cursor: pointer;
                        margin-bottom: 5px;
                        transition: all 0.5s;
                    }

                    &:checked+label,
                    +label:hover {
                        color: #FFFFFF;
                        opacity: 1;
                        border-radius: 26px;
                        border: solid 1px #979797;
                        background-color: #2b5e2e;
                    }
                }

                &[type="submit"] {
                    margin: 0 10px;
                    height: 32px;
                    padding: 0 30px;
                    border: solid 1px #979797;
                    background-color: transparent;
                }
            }
        }
    }

    // 공통 검색결과 나열 박스
    .result-box {
        >p {
            border-bottom: solid 2px #d4d4d4;
            padding-bottom: 15px;

            +div {
                padding: 0 5px;
                text-align: right;
            }
        }

        .product-box {
            margin: 0 auto;

            ul {
                width: 100%;

                >p {
                    margin: 0 auto;
                    padding: 30px 0 60px 15px;
                }

                li {
                    width: 100%;
                    height: 100%;

                    >div {
                        cursor: pointer;
                        text-align: center;

                        &:hover {

                            /* 상품 리스트 hover 주고 싶으면 여기 건들 것 */
                            h2 {
                                /* color: #2b5e2e; */
                            }
                        }

                        >div {
                            height: 205px;
                            padding: 15px;
                            margin-bottom: 13px;

                            border: solid 1px #979797;
                            background-color: #ffffff;

                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            >div {
                                height: 100%;

                                span {
                                    display: block;
                                    text-align: left;

                                    &.rank {
                                        font-size: 26px;
                                        font-weight: 600;
                                        line-height: 1.54;
                                    }
                                }
                            }

                            >img {
                                width: 166px;
                                height: 185px;
                            }
                        }

                        >span {
                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: 1.7px;
                        }

                        >h2 {
                            font-weight: bold;
                            font-size: 22px;
                            line-height: 1.82;
                        }
                    }

                }
            }
        }
    }
}

