
@-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.index-page {

    .modal {
        //display: none; 
        position: fixed; 
        margin: auto;
        //z-index: 1; 
        //left: 0;
        //top: 0;
        width: 100%; 
        height: 100%;
        //background-color: rgb(0,0,0); 
        //background-color: rgba(0,0,0,0.7);
    }

    .modal-content {
        height: 100%;
        background-color: #f8f7f7;
        border: none;
        border-radius: 1px;
    }
    
    #surveymodal.modal.fade {
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }
    
    #surveyModal.modal.fade.show {
        top: 0;
    }
    
    #surveyModal .modal-dialog {
        width: 500px; 
        height: 625px;
        margin: 5% auto; 
        padding: 10px;
        display: flex;
        align-content: center;  
        
    }
    .close {
        position: absolute;
        background-color: none;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: #aaa;
        font-size: 30px;
        transition-duration: 0.5s;
    }
    .close:hover,
    .close:focus {
        text-decoration: none;
        color: #000000;
    }
    
    .mini {
        font-size: 12px;
        color: #242424;
    }
    .surveyResult {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align:center;
        flex-direction: column;
        
        b {
            font-weight: 500;
        }

        .survey-result {
            margin: 20px 0px 30px 0px;
            /*display:flex;
            justify-content: center;
        }
        .survey-result-detail {*/
            text-align: center;
            padding: 10px;
            width: 400px;
            height: 130px;
            overflow-y: auto;
            background-color: #ffffff;
            font-size: 14px;
        }
        .Q {
            margin: 25px 0px;
            font-size: 20px;
            text-align: center;
            line-height: 30px;
        }

        .best-product {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            height: 130px;
        }
        .more-info {
            width: 300px;
            font-size: 14px;

            span {
                font-size: 12px;
            }
            .sign-up {
                text-align: center;
                background-color: rgba(0,0,0,0.16);
                transition: 0.4s ease;
                color: white;
            }
            .sign-up:hover {
                cursor: pointer;
                background-color: rgba(0,0,0,0.5);
            }
        }
    }
    
    .mySlides {
        display: none;


        b {
            font-weight: 500;
        }
        .Q {
            margin-top: 25px;
            font-size: 20px;
            text-align: center;
            line-height: 30px;
        }
        .Q1 {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .Q2 {
            margin-top: 70px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .Q3 {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .ChoiceBox {
            margin: 5px;
            padding: 5px;
            background-color: #ffffff;
            font-size: 12px;
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
            &.q1ChoiceBox {
                width: 180px;
                height: 130px;
                .image {
                    height: 78px;
                    width: 164px;
                    margin-bottom: 5px;
                }
                input {
                    &[type="checkbox"],
                    &[type="radio"] {
                        //display: none;
                        
                        &:checked {
                        }
                    }
                }
            }
            &.q2ChoiceBox {
                width: 140px;
                height: 200px;
                .image {
                    height: 160px;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            &.q3ChoiceBox {
                width: 180px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                    
        }
    }
    
   

    img {vertical-align: middle;}


    .prev, .next {
        min-width:70px;
        min-height:32px;
        position: absolute;
        bottom:20px;
        cursor: pointer;
        padding: 10px 16px;
        color: #242424;
        font-size: 14px;
        transition: 0.6s ease;
        border: solid 0.9px #707070;
        background-color: #f8f7f7;
    }
    .prev {
        left: 20px;
    }
    .next {
        right: 20px;
    }
    #submit {
        display: none;
    }
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.5);
        color: white;
    }
    .bars {
        position: absolute;
        bottom: 30px;
        left: 184px;
    }
    .slide-bar {
        cursor: pointer;
        height: 6px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .slide-bar:hover {
    background-color: #717171;
    }
    
    .main {
        .box {
            height: 500px;
            display: flex;
            align-items: center;
        }

        .btn-cover {
            margin-top: 50px;
        }

        .btn-more {
            cursor: pointer;
            font-size: 13px;
            transition: all .25s linear;
            color: #000000;
            border: solid 1px;
            border-radius: 2px;
            padding: 5px 30px;
        }
        .btn-more:hover {
            text-decoration: none;
            color: rgb(197, 151, 66);
        }
    }

    .mtype-info {

        .subject {
            height: 150px;
            display: flex;
            align-items: center;
            
            .title-box {
                padding: 20px;
                text-align: center;
            }
    
            .text-box {
                display: flex;
                align-items: center;
                height: 100%;
                background-color: #ededed;
                padding: 0px 50px;
                font-size: 14px;
                line-height: 22px;
            }
        }
        .detail {
            height: 300px;
            display: flex;
            align-items: center;

            #subtext {
                display: block;
                font-size: 12px;
                color: #686868;
                margin-bottom: 40px;
            }
            #type {
                font-size: 20px;
                margin-bottom: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .additional-info {
        
        .title {
            margin: 30px;
            padding: 20px;
        }

        p {
            font-size: 12px;
            margin-bottom: 10px;
            line-height: 22px;
        }
        .content-box {
            padding: 20px;
        }
        .dal-story {
            background-color: #ededed;
            height: 300px;
            width: 100%;
            
            .story-title {
                display: flex;
                align-items: center;
                height: 150px;

                .text {
                    padding: 0px 30px;
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .sub {
                height: 300px;
            }
        }
    }

    .photo {
        
    }

    .site-info {
        .subject {
            height: 150px;
            display: flex;
            align-items: center;
    
            .text {
                padding: 0px 30px;
                font-size: 14px;
                line-height: 22px;
            }
        }
        .img {
            margin-bottom: 20px;
        }    
    }

    .gradation {
        width: 100%;
        height: 100px;
        z-index: 10;
        background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    }
}