@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
body { background-color: #fffefc; font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif; }

li { padding: 4px 0; }

.hover-cursor { cursor: pointer; }

.mb10 { margin-bottom: 10px; }

.mb20 { margin-bottom: 20px; }

.mb30 { margin-bottom: 30px; }

/* 공통 드롭다운 스타일 */
.drop-down-box { padding: 0 10px; margin: 0; }

.drop-down-box a { color: #1e1e1e; display: inline-flex; justify-content: flex-end; align-items: center; padding: 4px 0; transition: all 0.5s; /* &.focusin::after { content: '∧'; } */ }

.drop-down-box a:hover { text-decoration: none; }

.drop-down-box a::after { content: '∨'; font-size: 14px; color: #979797; display: inline-block; margin-left: 10px; }

.drop-down-box ul { margin: 0 10px; padding: 0; position: absolute; right: 0; border: solid 1px #bebebe; border-top: none; background-color: #fffefc; width: fit-content; z-index: 10; transition: all 0.5s; visibility: hidden; opacity: 0; transition: visibility 0s linear 0.1s, opacity 0.1s linear; cursor: pointer; }

.drop-down-box ul.focusin { visibility: visible; opacity: 1; transition-delay: 0; transition-duration: 0.4s; }

.drop-down-box ul li { list-style: none; text-align: right; cursor: pointer; padding: 5px 28px; }

.drop-down-box ul li:hover { background-color: #2b5e2e; color: #FFFFFF; }

/* 비교검색 스타일 */
.product-search-page .search-pannel div { padding: 0; padding: 60px 10px 30px; border-bottom: 2px solid #bebebe; color: #bebebe; transition: all 0.5s; }

.product-search-page .search-pannel div h2 { transition: all 0.5s; color: #bebebe; margin: 5px 0; font-size: 22px; font-weight: bold; }

.product-search-page .search-pannel div.selected { border-bottom-color: #272727; color: #1e1e1e; }

.product-search-page .search-pannel div.selected h2 { color: #1e1e1e; }

.product-search-page .search-content-box { padding: 50px 0; }

.product-search-page .search-content-box div.search-option > div { margin-bottom: 25px; }

.product-search-page .result-box > p { border-bottom: solid 2px #d4d4d4; padding-bottom: 15px; }

.product-search-page .result-box > p + div { padding: 0 5px; text-align: right; }

.product-search-page .result-box .product-box { padding: 0; margin: 0 auto; }

.product-search-page .result-box .product-box ul { width: 100%; padding: 0; margin: 0; }

.product-search-page .result-box .product-box ul li { list-style: none; width: 100%; height: 100%; }

.product-search-page .result-box .product-box ul li > div { cursor: pointer; text-align: center; }

.product-search-page .result-box .product-box ul li > div:hover { /* 상품 리스트 hover 주고 싶으면 여기 건들 것 */ }

.product-search-page .result-box .product-box ul li > div:hover h2 { /* color: #2b5e2e; */ }

.product-search-page .result-box .product-box ul li > div > div { height: 205px; padding: 15px; margin-bottom: 13px; border: solid 1px #979797; background-color: #ffffff; display: flex; justify-content: space-between; align-items: center; }

.product-search-page .result-box .product-box ul li > div > div > div { height: 100%; }

.product-search-page .result-box .product-box ul li > div > div > div span { display: block; text-align: left; }

.product-search-page .result-box .product-box ul li > div > div > div span.rank { font-size: 26px; font-weight: 600; line-height: 1.54; }

.product-search-page .result-box .product-box ul li > div > div > img { width: 166px; height: 185px; }

.product-search-page .result-box .product-box ul li > div > span { font-size: 16px; line-height: 1.44; letter-spacing: 1.7px; }

.product-search-page .result-box .product-box ul li > div > h2 { font-weight: bold; font-size: 22px; line-height: 1.82; }

#compareSearchText { padding: 5px 10px; border: solid 1px #bebebe; background-color: #f6f6f6; width: 170px; margin-right: 20px; }

#autoCompleteText { margin: 0; padding: 0; position: absolute; border: solid 1px #bebebe; border-top: none; background-color: #f6f6f6; width: 170px; z-index: 10; transition: all 0.5s; visibility: hidden; opacity: 0; transition: visibility 0s linear 0.1s, opacity 0.1s linear; }

#autoCompleteText.focusin { visibility: visible; opacity: 1; transition-delay: 0; transition-duration: 0.4s; }

#autoCompleteText li { list-style: none; text-align: left; cursor: pointer; padding: 5px 10px; }

#autoCompleteText li:hover { background-color: #2b5e2e; color: #FFFFFF; }

.product-search-page .search-content-box input[type="checkbox"] { display: none; }

.product-search-page .search-content-box input[type="checkbox"] + label { padding: 5px 20px; margin: 5px; opacity: 0.35; border-radius: 26px; border: solid 1px #979797; font-weight: normal; cursor: pointer; margin-bottom: 5px; transition: all 0.5s; }

.product-search-page .search-content-box input[type="checkbox"]:checked + label, .product-search-page .search-content-box input[type="checkbox"] + label:hover { color: #FFFFFF; opacity: 1; border-radius: 26px; border: solid 1px #979797; background-color: #2b5e2e; }

.product-search-page .search-content-box input[type="submit"] { margin-left: 20px; height: 32px; padding: 0 30px; border: solid 1px #979797; background-color: transparent; }

.pagination { /* opacity: 0.3; */ /* background-color: red; */ }

.pagination > span { height: 100px; }

.pagination > span > a { z-index: 20; height: 100px; }

/*# sourceMappingURL=temp.css.map */