@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    background-color: #fffefc;
    font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
}

.hover-cursor {
    cursor: pointer;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

/*
    비교검색 스타일
*/

.product-search-page {
    .search-pannel div {
        padding: 0;
        padding: 60px 10px 30px;
        border-bottom: 2px solid #bebebe;
        color: #bebebe;
        transition: all 0.5s;

        h2 {
            transition: all 0.5s;
            color: #bebebe;
            margin: 5px 0;
            font-size: 22px;
            font-weight: bold;
        }

        &.selected {
            border-bottom-color: #272727;
            color: #1e1e1e;

            h2 {
                color: #1e1e1e;
            }
        }
    }

    .search-content-box {
        padding: 50px 0;

        form>div>div {
            margin-bottom: 25px;
        }
    }

    .result-box {
        >p {
            border-bottom: solid 2px #d4d4d4;
            padding-bottom: 5px;

            +div {
                padding: 5px;
                text-align: right;
            }
        }

        .product-box {
            padding: 0;
            margin: 0 auto;

            ul {
                width: 100%;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    width: 100%;
                    height: 100%;
                    >div {
                        cursor: pointer;
                        text-align: center;

                        &:hover {
                            /* 상품 리스트 hover 주고 싶으면 여기 건들 것 */
                            h2 {
                                /* color: #2b5e2e; */
                            }
                        }

                        >div {
                            height: 205px;
                            padding: 15px;
                            margin-bottom: 13px;
                            
                            border: solid 1px #979797;
                            background-color: #ffffff;

                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            >div {
                                height: 100%;
                                span {
                                    display: block;
                                    text-align: left;
                                    
                                    &.rank {
                                        font-size: 26px;
                                        font-weight: 600;
                                        line-height: 1.54;
                                    }
                                }
                            }

                            >img {
                                width: 166px;
                                height: 185px;
                            }
                        }

                        >span {
                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: 1.7px;
                        }

                        >h2 {
                            font-weight: bold;
                            font-size: 22px;
                            line-height: 1.82; 
                        }
                    }
                    
                }
            } 
        }
    }
}

#compareSearchText {
    padding: 0 10px;
    border: solid 1px #bebebe;
    background-color: #f6f6f6;
    width: 170px;
    margin-right: 20px;
}

#autoCompleteText {
    margin: 0;
    padding: 0;
    position: absolute;
    border: solid 1px #bebebe;
    border-top: none;
    background-color: #f6f6f6;
    width: 170px;
    z-index: 10;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear;

    &.focusin {
        visibility: visible;
        opacity: 1;
        transition-delay: 0;
        transition-duration: 0.4s;
    }

    li {
        list-style: none;
        text-align: left;
        cursor: pointer;
        padding: 0 10px;

        &:hover {
            background-color: #2b5e2e;
            color: #FFFFFF;
        }
    }
}

.product-search-page {
    .search-content-box input {
        &[type="checkbox"] {
            display: none;

            +label {
                padding: 2px 20px;
                margin: 5px;
                opacity: 0.35;
                border-radius: 26px;
                border: solid 1px #979797;
                font-weight: normal;
                cursor: pointer;
                margin-bottom: 5px;
                transition: all 0.5s;
            }

            &:checked+label,
            +label:hover {
                color: #FFFFFF;
                opacity: 1;
                border-radius: 26px;
                border: solid 1px #979797;
                background-color: #2b5e2e;
            }
        }

        &[type="submit"] {
            margin-left: 20px;
            height: 32px;
            padding: 0 30px;
            border: solid 1px #979797;
            background-color: transparent;
        }
    }
}

.pagination {
    /* opacity: 0.3; */
    /* background-color: red; */
    >span {
        height: 100px;
        >a {
            z-index: 20;
            height: 100px;
        }
    }

}