{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    
<div class="keyword-search-page container">
    <!-- 상단 탭 -->
    <div class="search-pannel row">
        <div class="compared-search col-sm-6">
            <h2>직접 비교하기</h2>
            <span>내가 쓰고 있는 제품과 원하는 비교를 손쉽게</span>
        </div>
        <div class="keyword-search col-sm-6 selected">
            <h2>키워드 검색</h2>
            <span>각 키워드에서 가장 인기 높은 상품을 보여드려요</span>
        </div>
    </div>

    <form action="{% url 'KeywordSearch' %}" method="GET" id="keywordSearchForm">
        
        <div class="search-condition-box row justify-content-md-center">                
            <div class="condition-keyword col-md-2">                    
                <input type="radio" name="keyword" value="score" onclick="form.submit()" id="score">
                <label class="selected" for="score" id="keyword:score">
                    <span>
                        <i class="fas fa-3x fa-trophy"></i><br/>                            
                        종합
                    </span>
                </label>
            </div>
            <div class="condition-keyword col-md-2">
                <input type="radio" name="keyword" value="absorbency" onclick="form.submit()" id="absorbency">
                <label for="absorbency" id="keyword:absorbency">
                    <span>
                        <i class="fas fa-3x fa-tint"></i><br/>                            
                        흡수력
                    </span>
                <label>
            </div>
            <div class="condition-keyword col-md-2">
                <input type="radio" name="keyword" value="anti_odour" onclick="form.submit()" id="anti_odour">
                <label for="anti_odour" id="keyword:anti_odour">
                    <span>
                        <i class="fas fa-3x fa-wind"></i><br/>                            
                        탈취력
                    </span>
                <label>
            </div>
            <div class="condition-keyword col-md-2">
                <input type="radio" name="keyword" value="comfort" onclick="form.submit()" id="comfort">
                <label for="comfort" id="keyword:comfort">
                    <span>
                        <i class="fas fa-3x fa-water"></i><br/>                            
                        촉감/착용감
                    </span>
                <label>
            </div>
            <div class="condition-keyword col-md-2">
                <input type="radio" name="keyword" value="sensitivity" onclick="form.submit()" id="sensitivity">
                <label for="sensitivity" id="keyword:sensitivity">
                    <span>
                        <i class="fas fa-3x fa-allergies"></i><br/>                       
                        피부 친화도
                    </span>
                <label>
            </div>                        
        </div>
    
    
        <div class="result-box row">
            <p class="col-12">총 {{ product_list|length }}개의 상품이 검색되었습니다</p>    
            {% comment %} <div class="col-12">
                <!-- 드롭다운 옵션 선택 div -->
                <div class="drop-down-box">
                    <a href="javascript:void(0);">
                        {% if option == 'price' %}
                        저렴한 순
                        {% elif option == 'absorbency' %}
                        흡수력 순
                        {% elif option == 'comfort' %}
                        촉감/착용감 순
                        {% elif option == 'nature_friendly' %}
                        자연유래정도 순
                        {% elif option == 'anti_odour' %}
                        탈취성 순
                        {% elif option == 'sensitivity' %}
                        민감도 순
                        {% else %}
                        정렬 선택
                        {% endif %}
                    </a>
                    <input type="hidden" value="{% if option %}{{ option }}{% endif %}" name="option">
                    <ul>
                        <li data-option="price">저렴한 순</li>
                        <li data-option="absorbency">흡수력 순</li>
                        <li data-option="comfort">촉감/착용감 순</li>
                        <li data-option="nature_friendly">자연유래정도 순</li>
                        <li data-option="anti_odour">탈취성 순</li>
                        <li data-option="sensitivity">민감도 순</li>
                    </ul>
                </div>
            </div> {% endcomment %}

            <div class="product-box col-12">
                <ul class="row">
                    {% for reviewSummary in paginator.page_obj %}
                    <li class="col-lg-4 col-md-6 col-xs-12 my-4"
                        onclick="location.href='{{reviewSummary.product_fk.get_absolute_url}}'">
                        <div>
                            <div class="">
                                <div class="">
                                    {% if paginator.page_obj.number == 1 %}
                                    {% if forloop.counter0 < 3 %}
                                    <span class="rank">{{ forloop.counter }}위</span>
                                    {% endif %}
                                    {% endif %}
                                    <span>
                                        {% if 'score' in query_string %}
                                        종합점수 {{ reviewSummary.total_score }}점
                                        {% elif 'absorbency' in query_string %}
                                        흡수력 {{ reviewSummary.absorbency_avg }}점
                                        {% elif 'anti_odour' in query_string %}
                                        탈취성 {{ reviewSummary.anti_odour_avg }}점
                                        {% elif 'comfort' in query_string %}
                                        촉감/착용감 {{ reviewSummary.comfort_avg }}점                                    
                                        {% elif 'sensitivity' in query_string %}
                                        민감도 {{ reviewSummary.sensitivity_avg }}점
                                        {% else %}
                                        종합점수 {{ reviewSummary.total_score }}점
                                        {% endif %}
                                    </span>
                                </div>
                                <img class="" src="{{ reviewSummary.product_fk.image.url }}" alt="" />
                            </div c>
                            <span>{{ reviewSummary.product_fk.hashtag_fk.name }}</span>
                            <h2>{{ reviewSummary.product_fk.name }}({{ reviewSummary.product_fk.category }})</h2>
                        </div>
                    </li>
                    {% empty %}
                    <p>일치하는 검색결과가 없습니다.</p>
                    {% endfor %}
                </ul>
            </div>

        </div>


        <!-- pagination -->
        <div>
            <ul class="my-pagination">
                <!-- 이전 페이지로 이동 -->
                {% if paginator.has_prev %}
                    <li class="nav"><a href="?page={{ paginator.prev_page }}{{ query_string }}">&laquo;</a></li>
                {% else %}
                    <!-- <li class="nav disabled">&laquo;</li> -->
                {% endif %}
                <!-- [1] [2] [3] -->
                {% for i in paginator.page_range %}     
                    {% if paginator.page_obj.number == i %}
                        <li class="disabled">&#91; {{ i }} &#93;</li>
                    {% else %}
                        <li><a href="?page={{ i }}{{ query_string }}">&#91; {{ i }} &#93;</a></li>
                    {% endif %}
                {% endfor %}
                <!-- 다음 페이지로 이동 -->
                {% if paginator.has_next %}
                    <li class="nav"><a href="?page={{ paginator.next_page }}{{ query_string }}">&raquo;</a></li>
                {% else %}
                    <!-- <li class="nav disabled">&raquo;</li> -->
                {% endif %}
            </ul>
        </div>      
    </form>
</div>    


<script type="text/javascript">
    
    window.onload = function(){
        var pre_selected_item = document.querySelector('.search-pannel .keyword-search');                                
        var pre_selected_keyword = function(){            
            var asdf = document.getElementById(function(){
                if( window.location.href.indexOf('score') > -1 ){                    
                    return 'keyword\\:score';
                }
                else if( window.location.href.indexOf('absorbency') > -1 ){
                    return 'keyword\\:absorbency';
                }
                else if( window.location.href.indexOf('anti_odour') > -1 ){
                    return 'keyword\\:anti_odour';
                }
                else if( window.location.href.indexOf('comfort') > -1 ){
                    return 'keyword\\:comfort';
                }
                else if( window.location.href.indexOf('sensitivity') > -1 ){
                    return 'keyword\\:sensitivity';
                }                
            });
        };

        document.querySelectorAll('.search-pannel div').forEach(function(item){
            item.addEventListener('click', function(){
                select_pannel(item);
                pre_selected_item = item;

                if( item.classList.contains('compared-search') ){
                    location.href = "{% url 'CompareSearch' %}";
                }

                if( item.classList.contains('keyword-search') ){
                    location.href = "{% url 'KeywordSearch' %}";
                }

            });
            item.addEventListener('mouseover', function(){
                select_pannel(item);
            });
            item.addEventListener('mouseout', function(){
                select_pannel(pre_selected_item);
            });
        });                 

        document.querySelectorAll('label').forEach(function(keyword){
            
            keyword.addEventListener('click', function(){
                select_keyword_label(keyword);
                pre_selected_keyword = keyword;
            });
            console.log(window.location.href);
        });



        
    }
    

    function configDropDownBoxEvent(){
        var div = document.querySelector('.drop-down-box a');
        var ul = document.querySelector('.drop-down-box ul');
        var is_cursor_in_drop_down = false;
        var option_form = document.getElementsByName('option')[0];

        ul.addEventListener('mouseenter', function(){
            is_cursor_in_drop_down = true;
        });
        ul.addEventListener('mouseleave', function(){
            is_cursor_in_drop_down = false;
        });
        div.addEventListener('click', function(){
            ul.classList.toggle('focusin');
            // div.classList.toggle('focusin');
        });
        div.addEventListener('focusout', function(){
            if( is_cursor_in_drop_down == false ){
                ul.classList.remove('focusin');
                // div.classList.toggle('focusin');
            }    
        });
        document.querySelectorAll('.drop-down-box ul li').forEach(function(item, num){
            item.addEventListener('click', function(){
                ul.classList.remove('focusin');
                // div.classList.toggle('focusin');
                div.innerHTML = item.innerHTML;
                option_form.value = item.getAttribute('data-option');
            });
        });
    }

    // comparesearch / keywordsearch 탭 선택
    function select_pannel(selected_item){
        document.querySelectorAll('.search-pannel div').forEach(function(item){
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }

    // keyword condition 박스에서 키워드 선택
    function select_keyword_label(selected_item){
        document.querySelectorAll('.search-condition-box label').forEach(function(item){
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }
    

</script>

{% endblock %}