{% extends "base_generic.html" %}


{% block content %}
<div class="normal-search-page container">    
    
    <div class="search-pannel row">
        <div class="compared-search col-sm-6">
            <h2>직접 비교하기</h2>
            <span>내가 쓰고 있는 제품과 원하는 비교를 손쉽게</span>
        </div>
        <div class="normal-search selected col-sm-6">
            <h2>일반 검색</h2>
            <span>일반검색 입니다</span>
        </div>
    </div>

    
    <div>
        <form action="{% url 'NormalSearch' %}" method="GET">
            <input type="search" name="q" value = "{{ request.GET.product }}">
            <input type="submit" value="Search">
        </form>
        <a href="#">제품끼리 비교하고 싶다면?</a>
    </div>
    <select name="order">
        <option value="정확도">정확도순</option>
    </select>
    <div>
        <p>총 {{ product_list|length }}개의 상품이 검색되었습니다.</p>
        <ul>
        {% for product in page_obj %}
            <li>
                <div onclick="location.href='{{product.get_absolute_url}}'">
                    <img src="{{product.image.url}}" alt="제품 이미지"/>
                    <p>{{ product.hashtag }}</p>
                    <h2>{{ product.name }}</h2>
                    <h3>{{ product.category }}</h3>
                </div>
            </li>
        {% empty %}
            <li>검색결과가 없습니다.</li>
        {% endfor %}
        </ul>
    </div>
    
    {% comment %} pagination {% endcomment %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script type="text/javascript">

    window.onload = function(){                
        
        document.querySelectorAll('.search-pannel div').forEach(function(item){
            var pre_selected_item = document.querySelector('.search-pannel .normal-search');
            item.addEventListener('click', function(){
                select_pannel(item);
                pre_selected_item = item;

                if( item.classList.contains('compared-search') ){
                    location.href = "{% url 'CompareSearch' %}";
                }

                if( item.classList.contains('normal-search') ){
                    location.href = "{% url 'NormalSearch' %}";
                }

            });
            item.addEventListener('mouseover', function(){
                select_pannel(item);
            });
            item.addEventListener('mouseout', function(){
                select_pannel(pre_selected_item);
            });
        }); 

        configDropDownBoxEvent();
    }

    // comparesearch / normalsearch 탭 선택
    function select_pannel(selected_item){
        document.querySelectorAll('.search-pannel div').forEach(function(item){
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }

</script>

{% endblock %}