{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div class="product-detail-page container">
    <div class="search-path"> 
        <span>상품검색 > {{product.name}}</span>
    </div>
    <div class="main-content row">
        <div class="left-container col-lg-4">
            <img src="{{product.image.url}}" alt="" />
        </div>
        <div class="right-container col-lg-5">
            <div class="product-introduction">
                <div>
                    <div class="font-weight-bold">{{product.name}}</div>
                    <div class="product-price">- 정가 {{product.price}} / {{product.count}}개입</div>
                </div>
                <div>
                    {{ user.type }} 타입에게, 추천지수 {{ 추천지수 }}
                </div>
                <div>
                    <span>
                        딱 한줄로 설명하자면, {{ product.content }}<br/>
                        {% for hashtag in product.hashtag_fk.all %}
                            #{{ hashtag }} 
                        {% endfor %}
                    </span>
                </div>
            </div>

            <div class="product-button">
                <div>
                    <button class="button1" type="button">비교함 담기</button>
                    <button class="button2" type="button">내 생리대 등록</button>
                </div>
                <div>
                    <button class="button3" type="button" data-toggle="modal" data-target="#myModal">리뷰 남기기</button>
                </div>
                {% comment %} 여기의 '리뷰 남기러가기' 버튼을 클릭할 때, 로그인이 안되어있으면 아예 안넘어가도록 설정해놓아야 함 {% endcomment %}
            </div>
        </div>
    </div>

    <div class="product-detail row">
        <ul class="product-detail-list col-9">
            <li>
            </li>
            <li class="col-12">
                <input id="tab1" type="radio" name="tabs">
                <label class="col-md-3" for="tab1">제품정보</label>
                <input id="tab2" type="radio" name="tabs">
                <label class="col-md-4" for="tab2">성분정보</label>
                <input id="tab3" type="radio" name="tabs" checked>
                <label class="col-md-3" for="tab3">리뷰({{review_list|length}})</label>

                <section class="col-xl-12" id="content1">
                    여기는 '제품정보' 탭 // 지마켓처럼 제품 소개 이미지 통짜로 박을 것임
                </section>
                <section class="col-xl-12" id="content2">
                    여기는 '성분정보' 탭 // 생리대 구조 그래프와 성분 기재 + 자연 유래도 퍼센트와 그래프 포함
                </section>
                <section class="col-xl-12" id="content3">
                    <div class="type-based-summary-box">
                        <div>
                            <div>{{user.type}} 타입 {{user.name}}에게, 이 제품의 예상 만족도는?</div>
                            <div>{{type_based_review_summary.score}}/5</div>
                        </div>
                        <div>
                            <div class="row progress">
                                <div class="col-3">흡수력</div>
                                <div class="col-8 progress-bar" role="progressbar" style="width: {{ type_based_review_summary.absorbency|mul:20 }}%" aria-valuenow="{{type_based_review_summary.absorbency}}" aria-valuemin="0" aria-valuemax="5"></div>
                                <div class="col-1">{{type_based_review_summary.absorbency}}/5</div>
                            </div>
                            <div class="row progress">
                                <div class="col-3">탈취성</div>
                                <div class="col-8 progress-bar" role="progressbar" style="width: {{ type_based_review_summary.anti_odour|mul:20 }}%" aria-valuenow="{{type_based_review_summary.anti_odour}}" aria-valuemin="0" aria-valuemax="5"></div>
                                <div class="col-1">{{type_based_review_summary.anti_odour}}/5</div>
                            </div>
                            <div class="row progress">
                                <div class="col-3">촉감/착용감</div>
                                <div class="col-8 progress-bar" role="progressbar" style="width: {{ type_based_review_summary.comfort|mul:20 }}%" aria-valuenow="{{type_based_review_summary.comfort}}" aria-valuemin="0" aria-valuemax="5"></div>
                                <div class="col-1">{{type_based_review_summary.comfort}}/5</div>
                            </div>
                            <div class="row progress">
                                <div class="col-3">피부 친화도</div>
                                <div class="col-8 progress-bar" role="progressbar" style="width: {{ type_based_review_summary.sensitivity|mul:20 }}%" aria-valuenow="{{type_based_review_summary.sensitivity}}" aria-valuemin="0" aria-valuemax="5"></div>
                                <div class="col-1">{{type_based_review_summary.sensitivity}}/5</div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="bestreview">
                        <div class="bestreview-title">
                            BEST REVIEW
                        </div>
                        <div class="bestreview-content">
                            <div class="bestreview-upper">
                                <div class="user-image">유저 사진</div>
                                <div class="user-info">
                                    <div>유전 정보{{bestReview.user_fk.username}} / {{bestReview.user_fk.profile.age}}세 / 여성
                                    </div>
                                    <div>2020.2.11{{bestReview.created}}</div>
                                </div>
                                <div class="user-score-box">
                                    <div class="user-score">{{bestReview.score_str}}</div>
                                </div>
                            </div>
                            <div class="user-content">{{bestReview.content}}기대한 것보다 흡수력이 더 강했던 것 같아요. 이때까지 썼던 생리대는 양이 많은
                                날에는 아무리 자주
                                바꿔도 새곤 했는데, 질경이 마음은 흡수력이 좋아서 전혀 새지 않더라구요 !
                                친구들 중에도 저랑 비슷한 고민하는 친구들한테 추천할 정도였어요. 다만 가격이 조금 아쉬운데,
                                투자할만한 가치가 충분하다고는 생각합니다 ! 첫째날, 둘째날 양 진짜 많으신 분들 강추드려요 : )
                            </div>
                        </div>
                    </div> -->

                    <div class="review">
                        <div class="review-title">
                            전체리뷰({{review_list|length}})
                        </div>
                        {% for review in paginator.page_obj %}

                        <div class="review-content">
                            <div class="bestreview-upper">
                                <div class="user-image">유저 사진</div>
                                <div class="user-info">
                                    <div>이 리뷰 mtype: {{review.m_type}}</div>
                                    <div>유전 정보{{review.user_fk.username}} / {{review.user_fk.profile.age}}세 / 여성</div>
                                    <div>2020.2.11{{review.created}}</div>
                                </div>
                                <div class="user-score-box">
                                    <div class="user-score">대박{{review.star_Str}}</div>
                                </div>
                            </div>
                            <div class="user-content">
                                {{review.content}}
                            </div>
                        </div>
                        {% endfor %}
                        
                        <!-- pagination -->
                        <div>
                            <ul class="my-pagination">
                                <!-- 이전 페이지로 이동 -->
                                {% if paginator.has_prev %}
                                    <li class="nav"><a href="?page={{ paginator.prev_page }}{{ query_string }}">&laquo;</a></li>
                                {% else %}
                                    <!-- <li class="nav disabled">&laquo;</li> -->
                                {% endif %}
                                <!-- [1] [2] [3] -->
                                {% for i in paginator.page_range %}     
                                    {% if paginator.page_obj.number == i %}
                                        <li class="disabled">&#91; {{ i }} &#93;</li>
                                    {% else %}
                                        <li><a href="?page={{ i }}{{ query_string }}">&#91; {{ i }} &#93;</a></li>
                                    {% endif %}
                                {% endfor %}
                                <!-- 다음 페이지로 이동 -->
                                {% if paginator.has_next %}
                                    <li class="nav"><a href="?page={{ paginator.next_page }}{{ query_string }}">&raquo;</a></li>
                                {% else %}
                                    <!-- <li class="nav disabled">&raquo;</li> -->
                                {% endif %}
                            </ul>
                        </div>
                        
                        {% comment %} <div>
                            {% if page_obj.has_previous %}
                                <a href="?page=1">맨 앞으로</a>
                                <a href="?page={{page_obj.previous_page_number}}">이전으로</a>
                            {% endif %}
                            <!-- [1] [2] [3] -->
                            {% for i in paginator.page_range %}     
                                {% if paginator.page_obj.number == i %}
                                    <li class="disabled">&#91; {{ i }} &#93;</li>
                                {% else %}
                                    <li><a href="?page={{ i }}">&#91; {{ i }} &#93;</a></li>
                                {% endif %}
                            {% endfor %}
                            <!-- 다음 페이지로 이동 -->
                            {% if paginator.has_next %}
                                <li class="nav"><a href="?page={{ paginator.next_page }}">&raquo;</a></li>
                            {% else %}
                                <!-- <li class="nav disabled">&raquo;</li> -->
                            {% endif %}
                        </div> {% endcomment %}

                    </div>
                </section>
            </li>
        </ul>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">REVIEW</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center ">
                    <div>
                        <form action="" , method="POST">
                            {% csrf_token %}
                            {{product.name}} 을(를) 사용해보니, 내 타입 사람들에게 추천지수는 {{form.score}} 점이다.</br></br></br>
                            구체적으로는 흡수력이 {{form.absorbency}},</br></br></br>
                            월경혈 냄새를 {{form.anti_odour}}.</br></br></br>
                            그리고 사용할 때 촉감/착용감이 {{form.sensitivity}},</br></br></br>
                            마지막으로, 장시간 사용했을 때 내 Y존 피부에 {{form.comfort}}.</br></br></br></br>
                            <div>{{form.content}}</div>
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="의견보내기">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementsByClassName("button1")[0].addEventListener("click", function(){
        insertCart({{ product.id }});
    });
</script>

{% comment %} '리뷰 남기러 가기'를 클릭하면 CSS로 가려져 있다가 보일 창 {% endcomment %}
{% endblock %}