{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% comment %} 상단에 기본적으로 출력되는 상품에 대한 간단한 정보 {% endcomment %}
<div class="product-detail-page">
    <div class="main-content row">
        <div class="left-container col-lg-4">
            <img src="{{product.image.url}}" alt="" />
        </div>
        <div class="right-container col-lg-5">
            <div class="product-introduction">
                <div class="font-weight-bold">{{product.name}}</div>
                <div>
                    <div class="product-price">- 정가 {{product.price}} / {{product.count}}개입</div>
                    <div class="product-score">{{product.score}}85점</div>
                </div>
                <div>{{product.hashtag}}#흡수력 #해시태그</div>
                <div> 여기는 제품 간단 설명</div>
            </div>
            
            <div class="product-button">
                <div>
                    <button class="button1" type="button">비교함 담기</button>
                    <button class="button2" type="button">내 생리대 등록</button>
                </div>
                <div>
                    <button class="button3" type="button">리뷰 남기기</button>
                </div>
                {% comment %} 여기의 '리뷰 남기러가기' 버튼을 클릭할 때, 로그인이 안되어있으면 아예 안넘어가도록 설정해놓아야 함 {% endcomment %}
            </div>
        </div>
    </div>

    {% comment %} 3개의 탭으로 구성되어서 '제품정보' '성분정보' '리뷰' 탭을 CSS 등으로 표현해줄 부분 {% endcomment %}
    <div class="product-detail row">
        <ul class="product-detail-list col-10">
            <li class="col-12"> 
                <input id="tab1" type="radio" name="tabs" >
                <label class="col-md-3" for="tab1">제품정보</label>
                <input id="tab2" type="radio" name="tabs">
                <label class="col-md-4" for="tab2">성분정보</label>
                <input id="tab3" type="radio" name="tabs" checked>
                <label class="col-md-3" for="tab3">리뷰({{review_list.count}})</label>
        
                <section class="col-xl-12" id="content1">
                    여기는 '제품정보' 탭 // 지마켓처럼 제품 소개 이미지 통짜로 박을 것임
                </section>
                <section class="col-xl-12" id="content2">
                    여기는 '성분정보' 탭 // 생리대 구조 그래프와 성분 기재 + 자연 유래도 퍼센트와 그래프 포함
                </section>
                <section class="col-xl-12" id="content3">
                    <div class="bestreview">
                        <div class="bestreview-title">
                            BEST REVIEW 
                        </div>
                        <div class="bestreview-content">
                            <div class="bestreview-upper">
                                <div class="user-image">유저 사진</div>
                                <div class="user-info">
                                    <div>유전 정보{{bestReview.user_fk.username}} / {{bestReview.user_fk.profile.age}}세 / 여성</div>
                                    <div>2020.2.11{{bestReview.created}}</div>
                                </div>
                                <div class="user-score-box">
                                    <div class="user-score">대박{{bestReview.star_Str}}</div>
                                </div>
                            </div>
                            <div class="user-content">{{bestReview.content}}기대한 것보다 흡수력이 더 강했던 것 같아요. 이때까지 썼던 생리대는 양이 많은 날에는 아무리 자주
                                바꿔도 새곤 했는데, 질경이 마음은 흡수력이 좋아서 전혀 새지 않더라구요 ! 
                                친구들 중에도 저랑 비슷한 고민하는 친구들한테 추천할 정도였어요. 다만 가격이 조금 아쉬운데,
                                투자할만한 가치가 충분하다고는 생각합니다 ! 첫째날, 둘째날 양 진짜 많으신 분들 강추드려요 : )
                            </div>
                        </div>
                    </div>

                    <div class="review">
                        <div class="review-title">
                            Review 
                        </div>
                        {% for review in review_list %}
                        
                        <div class="review-content">
                            <div class="bestreview-upper">
                                <div class="user-image">유저 사진</div>
                                <div class="user-info">
                                    <div>유전 정보{{review.user_fk.username}} / {{review.user_fk.profile.age}}세 / 여성</div>
                                    <div>2020.2.11{{review.created}}</div>
                                </div>
                                <div class="user-score-box">
                                    <div class="user-score">대박{{review.star_Str}}</div>
                                </div>
                            </div>
                            <div class="user-content">
                                {{review.content}}
                            </div>
                        </div>
                        {% comment %} REVIEW
                        <ul>
                            {% for review in review_list %}
                            <li>
                                <div>
                                    {{review.star_Str}}
                                    {{review.user_fk.username}} / {{review.user_fk.profile.age}}세 / 여성
                                    {{review.created}}
                                    {{review.content}}
                                </div>
                            </li>
                            {% endfor %}
                        </ul> {% endcomment %}
                        {% endfor %}
                    </div>
                </section>
            </li>
        </ul>
    </div>
</div>

{% comment %} '리뷰 남기러 가기'를 클릭하면 CSS로 가려져 있다가 보일 창 {% endcomment %}
<div>
    <input type="button" value="close">
    <form action="" , method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="제출">
    </form>
</div>
{% endblock %}