{% extends "base_generic.html" %}
{% load static %}

{% block title %}
ChaeBi | 제품상세
{% endblock %}

{% block content %}

<div class="product-detail-page container">
    <div class="product-intro">
        <div class="product-intro__path">
            <a href="{% url 'product:NormalSearch' %}"><span>상품검색 > </span></a>{{product.name}}
        </div>
        <div class="product-intro__main row">
            <div class="product-intro__img col-xl-6 col-lg-5 col-md-12 col-xs-12">
                <img src="{{product.image.url}}" alt="" />
            </div>
            <div class="product-intro__content col-xl-6 col-lg-7 col-md-12 col-xs-12">
                <div class="product-intro__top-box">
                    <div class="top-box__left">
                        <span>{{product.name}}</span>
                        <span>정가 {{product.price}} / {{product.count}}개입</span>
                    </div>
                    {% comment %} <a href="{% url 'product:add_zzimProduct' product.id %}"> {% endcomment %}
                        <div class="top-box__right" id="zzim">
                            <i class="fas fa-heart"></i>
                            <span>찜하기</span>
                        </div>
                    {% comment %} </a> {% endcomment %}
                </div>
                <div class="product-intro__middle-box">
                    <div class="middle-box__top">
                        <span>나의 타입<span class="font-weight-bold"> {{user.profile.survey_fk.mtype}}</span>에게, <span class=font-weight-bold> 예상 만족도 {{type_based_review_summary.score}}</span></span>
                    </div>
                    <div class="middle-box__bottom row">
                        <div class="col-5">
                            <span>딱 한줄로 설명하자면,</span>
                        </div>
                        <div class="col-7">
                            <span>{{product.one_line}}</span>
                            <span>
                            {% for hashtag in product.hashtag_fk.all %}
                                #{{ hashtag }}
                            {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="product-intro__button-box">
                    <div>
                        <button class="button1" type="button">
                            <span>비교함 담기</span>
                            <i class="fas fa-question-circle"></i>
                        </button>
                        <button id="my_product" class="button2" type="button">                            
                            내 생리대 등록
                        </button>
                        {% comment %} <button class="button2" type="button" onclick="location.href='{% url 'product:add_myProduct' product.id %}'">                            
                            내 생리대 등록
                        </button> {% endcomment %}
                    </div>
                    <div>
                        <button class="button3" type="button" data-toggle="modal" data-target="#myModal">리뷰 남기기</button>
                    </div>
                    {% comment %} 여기의 '리뷰 남기러가기' 버튼을 클릭할 때, 로그인이 안되어있으면 아예 안넘어가도록 설정해놓아야 함 {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <div class="product-detail">
        <ul class="product-detail__list">
            <li class="row">
                <input id="tab1" type="radio" name="tabs">
                <label class="col-4" for="tab1">제품정보</label>
                <input id="tab2" type="radio" name="tabs">
                <label class="test col-4" for="tab2">성분정보</label>
                <input id="tab3" type="radio" name="tabs" checked>
                <label class="col-4" for="tab3">리뷰({{review_list|length}})</label>

                <section class="col-xs-12" id="content1">
                </section>
                <section class="col-xs-12" id="content2">
                </section>
                <section class="container p-0" id="content3">
                    <div class="review-summary row">
                        <div class="review-summary__left-column col-xl-6 col-lg-5 col-md-12 col-xs-12">
                            <div>
                                <span class="font-weight-bold">{{user.profile.survey_fk.mtype}}</span> 타입 {{user.username}}님에게,</span>
                            </div>
                            <div>
                                <span>이 제품의 <span class="text font-weight-bold">예상 만족도</span>는?</span>
                            </div>
                            <div><span class="font-weight-bold">{{type_based_review_summary.score}}</span> / 5</div>
                        </div>
                        <div class="review-summary__right-column col-xl-6 col-lg-7 col-md-12 col-xs-12">
                            <div class="col-4">
                                <span>탈취성</span>
                                <span>촉감 / 착용감</span>
                                <span>흡수력</span>
                                <span>피부친화도</span>
                            </div>
                            <div class="right-column__eva-list col-8">
                                <div class="right-column__eva-list-item row">
                                    <div class="progress d-flex col-8 p-0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{type_based_review_summary.anti_odour}}"
                                        aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio type_based_review_summary.anti_odour 5 100 %}%"></div>
                                    </div>
                                    <span><span>{{type_based_review_summary.anti_odour}}</span> / 5</span>
                                </div>
                                <div class="right-column__eva-list-item row">
                                    <div class="progress d-flex col-8 p-0">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="{{type_based_review_summary.comfort}}"
                                        aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio type_based_review_summary.comfort 5 100 %}%"></div>
                                    </div>
                                    <span><span>{{type_based_review_summary.comfort}}</span> / 5</span>
                                </div>
                                <div class="right-column__eva-list-item row">
                                    <div class="progress d-flex col-8 p-0">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="{{type_based_review_summary.absorbency}}"
                                        aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio type_based_review_summary.absorbency 5 100 %}%"></div>
                                    </div>
                                    <span><span>{{type_based_review_summary.absorbency}}</span> / 5</span>
                                </div>
                                <div class="right-column__eva-list-item row">
                                    <div class="progress d-flex col-8 p-0">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="{{type_based_review_summary.sensitivity}}"
                                        aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio type_based_review_summary.sensitivity 5 100 %}%"></div>
                                    </div>
                                    <span><span>{{type_based_review_summary.sensitivity}}</span> / 5</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="review">
                        <div class="review-title">
                            <span><span class="font-weight-bold">당신의 타입 {{user.profile.survey_fk.mtype}}</span> 에 도움 되는 리뷰순으로 정렬하였습니다 :)<span>
                        </div>
                        {% for review in paginator.page_obj %}
                            <div class="review-content">
                                <div class="review-content__info">
                                    <div class="review-content__top row">
                                        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2">
                                            {% if review.score == 1 %}
                                                <img src="{% static "images/review-emoticon/1.png" %}" style="width:100%; height: 100%">
                                                <div style="color: #282020;">최악</div>
                                            {% elif review.score == 2 %}
                                                <img src="{% static "images/review-emoticon/2.png" %}" style="width:100%; height: 100%">
                                                <div style="color: #66615C;">별로</div>
                                            {% elif review.score == 3 %}
                                                <img src="{% static "images/review-emoticon/3.png" %}" style="width:100%; height: 100%">
                                                <div style="color: #EFAD2B;">쏘쏘</div>
                                            {% elif review.score == 4 %}
                                                <img src="{% static "images/review-emoticon/4.png" %}" style="width:100%; height: 100%">
                                                <div style="color: #FF6510;">굿굿</div>
                                            {% elif review.score == 5 %}
                                                <img src="{% static "images/review-emoticon/5.png" %}" style="width:100%; height: 100%">
                                                <div style="color: #C90A0A;">대박</div>
                                            {% endif %} 
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5">
                                            <div>{{review.user_fk.username}} / {{review.user_fk.profile.age}}세 / 여성</div>
                                            <div>{{review.created.year}}.{{review.created.month}}.{{review.created.day}}</div>
                                        </div>
                                        <input type="radio" id="open-button{{forloop.counter}}" name="button{{forloop.counter}}" />
                                        <input type="radio" id="close-button{{forloop.counter}}" name="button{{forloop.counter}}">
                                        <label class="col-md-4" for="open-button{{forloop.counter}}">
                                            <span>항목별 세부평가</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </label>
                                        <label class="col-md-4" for="close-button{{forloop.counter}}">
                                            <span>항목별 세부평가</span>
                                            <i class="fas fa-chevron-up"></i>
                                            <div class="clicked-box row">
                                                <div class="clicked-box__left-column col-5">
                                                    <span>흡수력</span>
                                                    <span>통기성</span>
                                                    <span>촉감 / 착용감</span>
                                                    <span>피부친화도</span>
                                                </div>
                                                <div class="clicked-box__right-column col-7">
                                                    <div class="">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{review.absorbency}}"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio review.absorbency 5 100 %}%"></div>   
                                                        </div>
                                                        <span><span>{{review.absorbency}}</span> / 5</span>
                                                    </div>
                                                    <div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{review.anti_odour}}"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio review.anti_odour 5 100 %}%"></div>   
                                                        </div>
                                                        <span><span>{{review.anti_odour}}</span> / 5</span>
                                                    </div>
                                                    <div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{review.comfort}}"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio review.comfort 5 100 %}%"></div>   
                                                        </div>
                                                        <span><span>{{review.comfort}}</span> / 5</span>
                                                    </div>
                                                    <div>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{review.sensitivity}}"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio review.sensitivity 5 100 %}%"></div>   
                                                        </div>
                                                        <span><span>{{review.sensitivity}}</span> / 5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>                
                                    </div>
                                    <div class="review-content__bottom row">
                                        <div class="mtype col-xl-1 col-lg-1 col-md-2 col-sm-1">
                                            <span>{{review.m_type}}</span>
                                        </div> 
                                        <div class="review__review col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                            {{review.content}}기대한 것보다 흡수력이 더 강했던 것 같아요. 이때까지 썼던 생리대는 양이 많은
                                            날에는 아무리 자주
                                            바꿔도 새곤 했는데, 질경이 마음은 흡수력이 좋아서 전혀 새지 않더라구요 !
                                            친구들 중에도 저랑 비슷한 고민하는 친구들한테 추천할 정도였어요. 다만 가격이 조금 아쉬운데,
                                            투자할만한 가치가 충분하다고는 생각합니다 ! 첫째날, 둘째날 양 진짜 많으신 분들 강추드려요 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- pagination -->
                        <div>
                            <ul class="my-pagination">
                                <!-- 이전 페이지로 이동 -->
                                {% if paginator.has_prev %}
                                <li class="nav"><a href="?page={{ paginator.prev_page }}{{ query_string }}">&laquo;</a>
                                </li>
                                {% else %}
                                <!-- <li class="nav disabled">&laquo;</li> -->
                                {% endif %}
                                <!-- [1] [2] [3] -->
                                {% for i in paginator.page_range %}
                                {% if paginator.page_obj.number == i %}
                                <li class="disabled">&#91; {{ i }} &#93;</li>
                                {% else %}
                                <li><a href="?page={{ i }}{{ query_string }}">&#91; {{ i }} &#93;</a></li>
                                {% endif %}
                                {% endfor %}
                                <!-- 다음 페이지로 이동 -->
                                {% if paginator.has_next %}
                                <li class="nav"><a href="?page={{ paginator.next_page }}{{ query_string }}">&raquo;</a>
                                </li>
                                {% else %}
                                <!-- <li class="nav disabled">&raquo;</li> -->
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>

{% comment %} 모달 창 {% endcomment %}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">REVIEW</h4>
                <button type="button" class="close" data-dismiss="modal" aria-div="close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center ">
                <div>
                    <form action="" , method="POST">
                        {% csrf_token %}
                        {{product.name}} 을(를) 사용해보니, 내 타입 사람들에게 추천지수는 {{form.score}} 점이다.</br></br></br>
                        구체적으로는 흡수력이 {{form.absorbency}},</br></br></br>
                        월경혈 냄새를 {{form.anti_odour}}.</br></br></br>
                        그리고 사용할 때 촉감/착용감이 {{form.sensitivity}},</br></br></br>
                        마지막으로, 장시간 사용했을 때 내 Y존 피부에 {{form.comfort}}.</br></br></br></br>
                        <div>{{form.content}}</div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="의견보내기">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    document.getElementsByClassName("button1")[0].addEventListener("click", function () {
        insertCart({{ product.id }});
    });

    $("#zzim").click(function() {
        $.ajax({
            type: "POST",
            url: "{% url 'product:zzim' product.id %}",
            success:function(data) {
                if (data == "exist")
                    alert("이미 찜한 상품입니다.");
                
                else if (data == "success")
                    alert("찜하셨습니다.");
            },
        });
    })

    $("#my_product").click(function() {
        $.ajax({
            type: "POST",
            url: "{% url 'product:my_product' product.id %}",
            success:function(data) {
                if (data == "exist")
                    alert("이미 등록하셨습니다.");
                
                else if (data == "success")
                    alert("내 생리대로 등록완료했습니다.");
            },
        });
    })
  

</script>

{% endblock %}

{% comment %} <div class="row progress">
    <div class="col-3">흡수력</div>
    <div class="col-8 progress-bar" role="progressbar"
        style="width: {{ type_based_review_summary.absorbency|mul:20 }}%"
        aria-valuenow="{{type_based_review_summary.absorbency}}" aria-valuemin="0"
        aria-valuemax="5"></div>
    <div class="col-1">{{type_based_review_summary.absorbency}}/5</div>
</div>
<div class="row progress">
    <div class="col-3">탈취성</div>
    <div class="col-8 progress-bar" role="progressbar"
        style="width: {{ type_based_review_summary.anti_odour|mul:20 }}%"
        aria-valuenow="{{type_based_review_summary.anti_odour}}" aria-valuemin="0"
        aria-valuemax="5"></div>
    <div class="col-1">{{type_based_review_summary.anti_odour}}/5</div>
</div>
<div class="row progress">
    <div class="col-3">촉감/착용감</div>
    <div class="col-8 progress-bar" role="progressbar"
        style="width: {{ type_based_review_summary.comfort|mul:20 }}%"
        aria-valuenow="{{type_based_review_summary.comfort}}" aria-valuemin="0"
        aria-valuemax="5"></div>
    <div class="col-1">{{type_based_review_summary.comfort}}/5</div>
</div>
<div class="row progress">
    <div class="col-3">피부 친화도</div>
    <div class="col-8 progress-bar" role="progressbar"
        style="width: {{ type_based_review_summary.sensitivity|mul:20 }}%"
        aria-valuenow="{{type_based_review_summary.sensitivity}}" aria-valuemin="0"
        aria-valuemax="5"></div>
    <div class="col-1">{{type_based_review_summary.sensitivity}}/5</div>
</div> {% endcomment %}