.mtype-ranking-page {
    
    // 상단 패널
    .ranking-pannel div {
        padding: 60px 10px 40px;
        border-bottom: 2px solid #bebebe;
        color: #bebebe;
        transition: all 0.5s;
        cursor: pointer;

        h2 {
            color: inherit;
            margin: 12px 0;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }
        span {
            cursor: pointer;
            color: inherit;
        }
        &.selected {
            border-bottom-color: #272727;
            color: #1e1e1e;
        }
    }

    .ranking-top {
        height: 400px;

        background-color: #fafbf7;
        .ranking-header {
            margin-top: 50px;
            float: left;
            h2 {
                width: 390px;
                height: 45px;
                font-size: 30px;
                color: #1e1e1e;
                white-space: nowrap;
            }
            span {
                width: 286px;
                height: 24px;
                font-size: 16px;
                line-height: 1.64;
                color: #8c8c8c;
            }
            .button {
                margin-top: 50px;
                a {
                    margin-right: 40px;
                    border: solid 1px #bebebe;
                }
            }
        }
        img {
            width: 500px;
            height: 400px;
            float: right;
        }
    }

    .ranking-result {
        margin-top: 80px;
        .d-flex {
            border-bottom: ridge;
            img {
                width: 150px;
                height: 150px;
            }
            
            .product-info {
                margin-top: 20px;
                h3 {
                    font-size: 22px;
                    font-weight: bold;
                }
                h4 {
                    font-weight:bold;
                }
            }
            .score {
                span {
                    margin: 15px 0px;
                    display: block;
                }
            }
        }
    }
}