.mtype-ranking-page {
    
    // 상단 패널
    .ranking-pannel div {
        padding: 60px 10px 40px;
        border-bottom: 2px solid #bebebe;
        color: #bebebe;
        transition: all 0.5s;
        cursor: pointer;

        h2 {
            color: inherit;
            margin: 12px 0;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }
        span {
            cursor: pointer;
            color: inherit;
        }
        &.selected {
            border-bottom-color: #272727;
            color: #1e1e1e;
        }
    }

    .ranking-top {
        height: 400px;

        background-color: #fafbf7;
        .ranking-header {
            margin-top: 50px;
            float: left;
            h2 {
                width: 390px;
                height: 45px;
                font-size: 30px;
                color: #1e1e1e;
                white-space: nowrap;
            }
            span {
                width: 286px;
                height: 24px;
                font-size: 16px;
                line-height: 1.64;
                color: #8c8c8c;
            }
            .button {
                margin-top: 50px;
                a {
                    margin-right: 40px;
                    border: solid 1px #bebebe;
                }
            }
        }
        img {
            width: 500px;
            height: 400px;
            float: right;
        }
    }

    .ranking-result {
        margin-top: 80px;
        .d-flex {
            border-bottom: ridge;
            img {
                width: 150px;
                height: 150px;
            }
            
            .product-info {
                margin-top: 20px;
                h3 {
                    font-size: 22px;
                    font-weight: bold;
                }
                h4 {
                    font-weight:bold;
                }
            }
            .score {
                span {
                    margin: 15px 0px;
                    display: block;
                }
            }
        }
    }

    // 이건 라디오 테스트

}
#toggle-form {
    display: flex;

    >div {
        margin-right: 10px;

        p {
            position: absolute;
            top: 6rem;

            &::after {
                content: '평균이상';
                display: block;
            }
        }
        
    }
}
.switch--vertical #radio-a:not(:checked)~p::after,
.switch--vertical #radio-h:not(:checked)~p::after,
.switch--vertical #radio-s:not(:checked)~p::after,
.switch--vertical #radio-p:not(:checked)~p::after {
    content: '평균이하';
}

.switch input {
    display: none;
}

.switch input:checked+label {
    opacity: 1;
    cursor: default;
}

.switch input:not(:checked)+label:hover {
    opacity: 0.5;
}

.switch input:first-child:not(:checked)~label.second {
    opacity: 1;
}

.switch label {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 0.25rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    
    display: inline-block;
    width: 2.3rem;
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
    
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;

    &.second {
        top: 3.0rem;
    }
}

.switch .toggle-outside {
    height: 100%;
    border-radius: 2rem;
    padding: 0.25rem;
    transition: 0.25s ease all;
    box-shadow: 5px 5px 2px grey;
}

.switch .toggle-inside {
    border-radius: 5rem;
    background: #d2d2d2;
    position: absolute;
    transition: 0.25s ease all;
}

.switch--vertical {
    height: 6rem;
}

.switch--vertical input {
    height: 100%;
    width: 3rem;
    right: 0;
    margin: 0;
}

.switch--vertical .toggle-outside {
    background: #fff;
    position: relative;
    width: 3rem;
    height: 100%;
}

.switch--vertical .toggle-inside {
    height: 2.5rem;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    width: 2.3rem;
}

.switch--vertical input:first-child:checked~.toggle-inside {
    top: 0.25rem;
}

.switch--vertical .toggle-inside {
    top: 3.0rem;
}
