.mtype-ranking-page {
    margin-top: 5px;

    .ranking-top.jumbotron {
        height: 450px;
        background-color: #fafbf7;
        
        display: flex;
        align-items: center;

        .ranking-header {

            // float: left;
            h2 {
                width: 390px;
                height: 45px;
                font-size: 30px;
                font-weight: bolder;
                color: #1e1e1e;
                white-space: nowrap;
                mark {
                    background-color: #154800;
                    color: white;
                }
            }
            span {
                width: 286px;
                height: 24px;
                font-size: 16px;
                line-height: 1.64;
                color: #8c8c8c;
            }
            .buttons {
                margin-top: 50px;
                button {
                    margin-right: 40px;
                    border: solid 1px #bebebe;
                    padding: 6px 20px;
                }
            }
            .card-body {
                margin: 30px;
            }
        }
        .image {
            width: 500px;
            height: 400px;
            min-width: 20%;
            float: right;
            display: absolute;
            img {
                width: 500px;
                height: 400px;
            }
        }
    }

    .ranking-result {
        margin-top: 80px;
        .product {
            margin-top: 20px;
            border-bottom: ridge;
            img {
                width: 150px;
                height: 150px;
            }
            .product-info {
                h3 {
                    font-size: 22px;
                    font-weight: bold;
                }
                h4 {
                    font-weight: bold;
                }
                .score {
                    margin-top: 35px;
                    .satisfaction {
                        text-align: center;
                        font-size: 14px;
                        color: #154800;
                        .badge {
                            width: 72px;
                            height: 30px;
                            font-size: 18px;
                            font-weight: 500;
                            background-color: #184703;
                            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
                            color: white;
                        }
                    }
                    .nature {
                        text-align: center;
                        font-size: 14px;
                        color: #7b7e7a;
                        .badge {
                            width: 72px;
                            height: 30px;
                            font-size: 18px;
                            font-weight: 500;
                            background-color: white;
                            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
                            color: #7b7e7a;
                            .fa-leaf {
                                font-size: 14px;
                                color: #7b7e7a;
                            }
                        }
                    }
                }
            }
            .status {
                font-size: 14px;
                height: 30px;
                margin: 20px;
                .progress {
                    height: 8px;
                    width: 80px;
                    .progress-bar {
                        background-color: #005700;
                    }
                }
            }
        }
    }
}

.popover {
    max-width: 400px;
    height: 200px;
    border: none;
    margin-top: 20px;
    margin-left: 80px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
    .arrow {
        left: 0 !important;
    }
}
// .popover {
//     .arrow {
//         position: unset;
//         left: 0px !important;
//         margin: 0;
//         z-index: 1;
        
//         &::after,
//         &::before {
//             border: none;
//             content: '';
//             width: 0px;
//             height: 0px;
//             position: absolute;
//             top: 0;

//             border: 10px solid #FFFFFF;

//             border-right: 10px solid transparent;
//             border-top: 10px solid transparent;
//         }

//         &::after {
//             box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.16);
//         }
//     }

//     border: none;
//     top:0 !important;
//     margin-top: 20px;
//     box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
// }

#toggle-form {
    display: flex;

    >div {
        margin-right: 10px;

        p {
            position: absolute;
            top: 6rem;

            &::after {
                content: '평균이상';
                display: block;
            }
        }
    }
    button {
        width: 70px;
        height: 38px;
    }
}
.switch--vertical #radio-a:not(:checked)~p::after,
.switch--vertical #radio-h:not(:checked)~p::after,
.switch--vertical #radio-s:not(:checked)~p::after,
.switch--vertical #radio-p:not(:checked)~p::after {
    content: '평균이하';
}

.switch input {
    display: none;
}

.switch input:checked+label {
    opacity: 1;
    cursor: default;
}

.switch input:not(:checked)+label:hover {
    opacity: 0.5;
}

.switch label {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 0.25rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    
    display: inline-block;
    width: 2.3rem;
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
    
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;

    &.second {
        top: 3.0rem;
    }
}

.switch .toggle-outside {
    height: 100%;
    border-radius: 2rem;
    padding: 0.25rem;
    transition: 0.25s ease all;
    box-shadow: 5px 5px 2px grey;
}

.switch .toggle-inside {
    border-radius: 5rem;
    background: #d2d2d2;
    position: absolute;
    transition: 0.25s ease all;
}

.switch--vertical {
    height: 6rem;
}

.switch--vertical input {
    height: 100%;
    width: 3rem;
    right: 0;
    margin: 0;
}

.switch--vertical .toggle-outside {
    background: #fff;
    position: relative;
    width: 3rem;
    height: 100%;
}

.switch--vertical .toggle-inside {
    height: 2.5rem;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    width: 2.3rem;
}

.switch--vertical input:first-child:checked~.toggle-inside {
    top: 0.25rem;
}

.switch--vertical .toggle-inside {
    top: 3.0rem;
}

.switch input:first-child:not(:checked)~label.second {
    opacity: 1;
}