{% extends 'base_generic.html' %}

{% block title %}
ChaeBi | 마이페이지 수정
{% endblock %}

{% block content %}
{% load sass_tags %}
<link rel="stylesheet" href="{% sass_src 'css/style.scss'%}">

<div class="container profile-edit-page">
  <div class="row">
    <div class="col text-left">
      마이페이지
    </div>
    <div class="col text-center">
      개인정보 변경
    </div>
    <div class="col">
    </div>
  </div>

  <!--프로필 변경 -->

  <form method="POST" action='{% url 'edit_profile' %}' class="edit_profile">
    {% csrf_token %}

    <div class="form-group">
      <label for="nickname">닉네임</label>
      <input type="text" class="form-control" name="nickname" id="nickname" aria-describedby="helpId" placeholder="{{ placeholder.nickname }}">
      <small id="helpId" class="form-text text-muted">{{ warning.nickname }}</small>
    </div>

    <div class="form-group">
      <label for="email">이메일</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="{{ placeholder.email }}">
      <small id="emailHelpId" class="form-text text-muted">{{ warning.email }}</small>
    </div>
  </form>

  <div class="underline">
    비밀번호 변경
  </div>

  <!-- 비밀번호 변경 -->

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    <p><label for="id_oldpassword">현재 비밀번호:</label> <input type="password" name="oldpassword" placeholder="현재 비밀번호"
        required id="id_oldpassword"></p>
    <p><label for="id_password1">새 비밀번호:</label> <input type="password" name="password1" placeholder="새 비밀번호" required
        id="id_password1"></p>
    <p><label for="id_password2">새 비밀번호 (확인):</label> <input type="password" name="password2" placeholder="새 비밀번호 (확인)"
        required id="id_password2"></p>
    <button type="submit" name="action">변경하기</button>
  </form>

</div>


{% endblock content %}