{% extends 'base_generic.html' %}

{% block title %}
ChaeBi | 마이페이지
{% endblock %}

{% block content %}
{% load sass_tags %}
<link rel="stylesheet" href="{% sass_src 'css/style.scss'%}">

<div class="container profile-page">
  <div class="row justify-content-between">
    <div class="col-2 text-left">
      마이페이지
    </div>
    <div class="col-2 text-right">
      <a href='{% url 'edit_profile' %}'>개인정보 변경&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a>
    </div>
  </div>

  <div class=""> <!-- ISTP display-->    
    <div class="row justify-content-center">
      <span>나의 M type</span><span id="user-mtype">{{ m_type }}</span>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        내 생리대 등록하기
      </div>
      <div class="col-3">
        자세히 알아보기
      </div>
      <div class="col-3">
        재검사하기
      </div>
    </div>    
  </div> <!-- end ISTP display -->
  
  <!-- 찜한 아이템 -->

  <div class="underline">
    찜한 아이템
  </div>

  <div class="row">
    <div class="col text-left">
      총 {{ n_result }} 개의 상품
    </div>
    <div class="col text-right">
      전체별점 <i class="fas fa-angle-down"></i>
    </div>
  </div>

  <div class="row">
    {% if products  %}
      {% for product in products %}
        {{ product.name }}
      {% endfor %}
    {% endif %}
  </div>
</div>


{% endblock content %}
