{% extends "account/base.html" %}


{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}로그인하기{% endblock %}

{% block content %} 

<div class="container login-container">
  
  <div id="account-header" class="text-left font-weight-bold">로그인하기</div>
  {% get_providers as socialaccount_providers %}

  <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class='form-group'>
      <input type="email" class="form-control" name="login" placeholder="이메일 주소" autofocus="autofocus" required="" id="id_login">
      <input type="password" class="form-control" name="password" placeholder="비밀번호" required="" id="id_password">
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

  <div class="row">
    <div class="col-4 text-left signuptext">
      <a href="{% url 'account_signup' %}">회원가입</a>
    </div>
    <div class="col-8 text-right">
      <a href="{% url 'account_reset_password' %}">아이디/비밀번호 찾기</a>
    </div>
  </div>

  <div class="row">
    <input class="btn-login" type="submit" value="로그인"/>
  </div>
    
  </form>

  <p class="hr-sect">or</p>

  {% if socialaccount_providers %}

  <div class="container">
  <div class='row'>
    <a href="{% provider_login_url "naver" %}"><img src='{% static 'images/naver_login.png' %}'></a>
  </div>
  <div class="row">
    <a href="{% provider_login_url "kakao" %}"><img src='{% static 'images/kakao_login.png' %}'/></a>
  </div>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

</div>
{% endblock %}
