{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="user-story-form-page container">
    <div class="title-box">
        <h2>당신의 경험을 들려주세요</h2>
        <span>나의 작은 이야기가 누군가에게는 큰 도움이 될 수 있다는 것</span>
    </div>

    <form method="post" enctype="multipart/form-data" onsubmit="return false;">
        {% csrf_token %}
        <div class="content-box">
            <table>
                <tr>
                    <th style="align-self: center;">{{ form.title.label_tag }}</th>
                    <td>{{ form.title }}</td>
                </tr>
                <tr style="margin-bottom: 10px;">
                    <th style="align-self: center;">첨부하기</th>
                    <td>
                        <label for="files">파일찾기</label>
                    </td>
                </tr>
                <tr style="margin: 0;">
                    <th></th>
                    <td>
                        <input type="file" id="files" accept="image/*" multiple />
                        {{ form.image1 }}
                        {{ form.image2 }}
                        <ul id="file-list-box">
                            글 이해에 도움이 될만한 사진이 있다면 첨부 해주세요 (최대 2장)
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>{{ form.content.label_tag }}</th>
                    <td>{{ form.content }}</td>
                </tr>
            </table>
        </div>
        
        <div class="send-box">
            <p>
                써주신 소중한 내용의 채비 사이트 업로드 여부는</br>
                채비의 관리자의 심사를 통해 결정됩니다.</br>
                심사 결과는 일주일 내로 등록하신 이메일로 알려드릴게요!</br>
                </br>
                혹여나 기재가 되지 않더라도,</br>
                서비스 퀄리티 향상에 아주 큰 도움이 됩니다!</br>
                </br>
                늘 감사드립니다 :)
            </p>
            <div>
                <input type="submit" value="나의 이야기 보내기" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    // fileList는 readonly 객체라서 대신 파일을 저장한 배열객체 생성
    var image_file_buffer = [];

    // 파일 선택 완료 이벤트
    document.getElementById('files').addEventListener('change', function() {
        console.log(this.files);

        const self = this;
        if(image_file_buffer.length + self.files.length > 2) {
            alert('파일은 최대 2개까지만 업로드 가능합니다');
            return;
        }

        if(image_file_buffer.length == 0 && self.files.length > 0) {
            document.getElementById('file-list-box').innerText = '';
        }

        // fileBuffer 배열에 fileList 대입
        Array.prototype.push.apply(image_file_buffer, self.files);
        Array.prototype.forEach.call(self.files, function(file) {
            create_files(file);
        });
        self.value = '';

        console.log(image_file_buffer);
    });

    // 파일 리스트 생성
    function create_files(file) {
        var li = document.createElement('li');
        
        var span = document.createElement('span');
        span.innerHTML = file.name;

        var a = document.createElement('a');
        a.setAttribute('href', 'javascript:void(0);');
        a.innerHTML = '삭제하기';
        a.addEventListener('click', remove_files);
    
        li.appendChild(span);
        li.appendChild(a);
        
        document.getElementById('file-list-box').appendChild(li);
    }

    // 파일 리스트 x 버튼 이벤트
    function remove_files() {
        const self = this;
        const file_index = get_index(self.parentElement);

        image_file_buffer.splice(file_index, 1);
        self.parentElement.remove();

        if(image_file_buffer.length == 0) {
            document.getElementById('file-list-box').innerText = '글 이해에 도움이 될만한 사진이 있다면 첨부 해주세요 (최대 2장)';
        }
    }

    // node index 반환
    function get_index(item) {
        const child = item.parentNode.childNodes;
        for(var i = 0; i < child.length; i++) {
            if(child[i] == item) {
                return i;
            }
        }
        return -1;
    }

    document.querySelector('.user-story-form-page form').addEventListener('submit', function() {
        const self = this;

        var form_data = new FormData(self);
        for(var i = 0; i < image_file_buffer.length; i++) {
            var name = 'image' + (i + 1);
            form_data.set(name, image_file_buffer[i], image_file_buffer[i].name);
        }
        
        /*
        for(var [key, value] of form_data.entries()) { 
            console.log(key, value);
        }
        */
        var xhr = new XMLHttpRequest();
        var url = "{% url 'user-story-form' %}";
        xhr.open('POST', url);
        xhr.onload = function() {
            if(xhr.status === 200) {
                alert('감사합니다! 심사 결과는 등록하신 이메일로 일주일 이내에 안내드리겠습니다.');
                // 직전 페이지로 redirect
                location.href = document.referrer;
            } else {
                alert('사연 접수 실패');
            }
        }
        xhr.send(form_data);
    });
</script>

{% endblock %}