{% extends 'base_generic.html' %}

{% block content %}
{% load sass_tags %}
<link rel="stylesheet" href="{% sass_src 'css/user.scss'%}">

<div class="container background">
  <div class="row">
    <div class="col text-left">
      마이페이지
    </div>
    <div class="col text-right">
      <a href='{% url 'edit_profile' %}'>개인정보 변경</a>
    </div>
  </div>

  <div class="row"> <!-- ISTP display-->
    <div class="col">
    </div>
    <div class="col pink"> <!-- ISTP DISPLY COL-->
      <div class="row">
        <div class="col 12 text-center">나의 M type {{ m_type }}</div>
      </div>
      <div class="row">
        <div class="col">
          자세히 알아보기
        </div>
        <div class="col">
          재검사하기
        </div>
      </div>
    </div> <!-- END ISTP DISPLY COL-->
    <div class="col">
    </div>
  </div> <!-- end ISTP display -->
  
  <!-- 찜한 아이템 -->

  <div class="underline">
    찜한 아이템
  </div>

  <div class="row">
    <div class="col text-left">
      총 {{ n_result }} 개의 상품
    </div>
    <div class="col text-right">
      전체별점 <i class="fas fa-angle-down"></i>
    </div>
  </div>

  <div class="row">
    {% if products  %}
      {% for product in products %}
        {{ product.name }}
      {% endfor %}
    {% endif %}
  </div>
</div>


{% endblock content %}
