{% extends "base_generic" %}

{% block content %}

<div>
    여기는 탭이 들어갈 곳
    여기다가 수정을 하면?
</div>

<div>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="" placeholder="{{user.best_pad}}"/>
            <br/>
            <p>직접 입력하려면 상자를 클릭하세요</p>
        </div>
        보다
        <div>
            <div>
                여기에 클릭할 때마다 체크박스 모양이 추가되는게 들어와야 할텐데..
            </div>
            <div>
                <input type="checkbox" name="저렴한"/>저렴한
                <input type="checkbox" name="흡수력 좋은"/>흡수력 좋은
                <input type="checkbox" name="촉감/착용감 좋은"/>촉감/착용감 좋은
                <input type="checkbox" name="자연유래도 높은"/>자연유래도 높은
                <input type="checkbox" name="탈취성 좋은"/>탈취성 좋은
                <input type="checkbox" name="피부 트러블 덜 나는"/>피부 트러블 덜 나는
            </div>
        </div>
        제품 찾아주세요
        <input type="submit" value="검색"/>
    </form>
</div>

{% if 검색을 했으면 %}

<div>
    <p>총 {{}}개의 상품이 검색되었습니다</p>
    <hr/> 
    <select>
        <option value="">정확도순</option>
        <option value="">어떤 순서1</option>
        <option value="">어떤 순서2</option>
        <option value="">어떤 순서3</option>
    </select>
</div>

<div>
    <ul>
        {% for 상품 in 검색결과 %}
        <li>
            <a herf="{{product_detail로가는URL}}">
                <div>
                    {{product.image}}
                    {{product.title}}
                    {{product.category}}
                </div>
            </a>
            pagination이나 리스트 몇개까지 보여줄지는 view에서?
        <li/>
        {% endfor %}
    </ul>
</div>

{% else %}
<div>
    <p>검색결과가 없습니다.</p>
</div>
{% endif %}

{% endblock %}