{% extends "base_generic.html" %}
{% load static %}
{% load js %}

{% block content %}
<script src="{% static 'js/hangul.min.js'%}"></script>

<div style="height: 100px;"> 걍넣어본</div>

<div class="product-search-page container">
    <!-- 상단 탭 -->
    <div class="search-pannel row">
        <div class="keyword-search col-sm-6 hover-cursor">
            <h2 class="hover-cursor">키워드 검색</h2>
            <span>각 키워드에서 가장 인기 높은 상품을 보여드려요</span>
        </div>
        <div class="compared-search selected col-sm-6 hover-cursor">
            <h2 class="hover-cursor">직접 비교하기</h2>
            <span>내가 쓰고 있는 제품과 원하는 비교를 손쉽게</span>
        </div>
    </div>
    
    <div class="search-content-box">
        <form action="{% url 'CompareSearch' %}" method="GET" id="compareSearchForm" onsubmit="return false">
            <div class="row">
                <div class="search-text col-lg-3 text-center">
                    <div class="d-inline-block">
                        <input id="compareSearchText" type="text" name="q" value="{% if request.GET.q %}{{request.GET.q}}{% else %}{{user.best_pad}}{% endif %}" autocomplete="off"/>
                        <ul class="" id="autoCompleteText"></ul>
                    </div>
                    <span><b>보다</b></span>
                    <input type="hidden" name="compareConditionList" value=""/>
                </div>

                <div class="checkbox-box col-lg-5 text-center text-xl-left text-lg-left">
                    <input type="checkbox" id="compareCondition1" value="price" {% if request.GET.compareConditionList %}{% if 'price' in request.GET.compareConditionList %}checked="true"{% endif %}{% endif %}>
                    <label for="compareCondition1">저렴한</label>

                    <input type="checkbox" id="compareCondition2" value="absorbency" {% if request.GET.compareConditionList %}{% if 'absorbency' in request.GET.compareConditionList %}checked="true"{% endif %}{% endif %}>
                    <label for="compareCondition2">흡수력 좋은</label>

                    <input type="checkbox" id="compareCondition3" value="comfort" {% if request.GET.compareConditionList %}{% if 'comfort' in request.GET.compareConditionList %}checked="true"{% endif %}{% endif %}>
                    <label for="compareCondition3">촉감/착용감 좋은</label>
                    
                    <input type="checkbox" id="compareCondition4" value="nature_friendly" {% if request.GET.compareConditionList %}{% if 'nature_friendly' in request.GET.compareConditionList %}checked="true"{% endif %}{% endif %}>
                    <label for="compareCondition4">자연유래정도 높은</label>

                    <input type="checkbox" id="compareCondition5" value="anti_odour" {% if request.GET.compareConditionList %}{% if 'anti_odour' in request.GET.compareConditionList %}checked="true"{% endif %}{% endif %}>
                    <label for="compareCondition5">탈취성 좋은</label>

                    <input type="checkbox" id="compareCondition6" value="sensitivity" {% if request.GET.compareConditionList %}{% if 'sensitivity' in request.GET.compareConditionList %}checked="true"{% endif %}{% endif %}>
                    <label for="compareCondition6">피부 트러블 덜 나는</label>
                </div>

                <div class="col-lg-4 text-center">
                    <span><b>제품을 찾아주세요</b></span>
                    <input type="submit" value="검색">
                </div>
            </div>
        </form>
    </div>

    {% if first_page == False %}
    <div class="result-box row">
        <p class="col-12">총 {{ product_list|length }}개의 상품이 검색되었습니다</p>
        <select>
            <option>선택</option>
            <option>흡수력 순</option>
            <option>촉감/착용감 순</option>
            <option>자연유래정도 순</option>
            <option>탈취성 순</option>
            <option>민감도 순</option>
        </select>

        <div class="product-box">
            <ul>
                {% for reviewSummary in product_list %}
                <li onclick="location.href='{{reviewSummary.product_fk.get_absolute_url}}'">
                    <img src="#" alt=""/>
                    <p>{{ reviewSummary.product_fk.hashtag_fk.name }}</p>
                    <h2>{{ reviewSummary.product_fk.name }}</h2>
                    <h3>{{ reviewSummary.product_fk.category }}</h3>
                </li>
                {% empty %}
                <p>'{{searchedWord}}'에 해당하는 검색결과가 없습니다.</p> 
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.compareConditionList %}&amp;compareConditionList={{request.GET.compareConditionList}}{% endif %}{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.compareConditionList %}&amp;compareConditionList={{request.GET.compareConditionList}}{% endif %}{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.compareConditionList %}&amp;compareConditionList={{request.GET.compareConditionList}}{% endif %}{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.compareConditionList %}&amp;compareConditionList={{request.GET.compareConditionList}}{% endif %}{% if request.GET.q %}&amp;q={{request.GET.q}}{% endif %}">last &raquo;</a>
        {% endif %}
    {% endif %}
</div>

<div>
    {% comment %} 탭을 만들어야 함 {% endcomment %}
</div>

</script>



<script type="text/javascript">
    var pre_selected_item = document.querySelector('.search-pannel .compared-search');
    
    window.onload = function(){        
        document.getElementById('compareSearchForm').addEventListener('submit', function(){
            compareSearchFormValidation();
        });

        configCompareSearchTextEvent();
        
        document.querySelectorAll('.search-pannel div').forEach(function(item){
            item.addEventListener('click', function(){
                select_pannel(item);
                pre_selected_item = item;
            });
            item.addEventListener('mouseover', function(){
                select_pannel(item);
            });
            item.addEventListener('mouseout', function(){
                select_pannel(pre_selected_item);
            });
        }); 
    }

    // 검색할 배열
    var product_list = {{ all_products | js }};

    // object 에 초성필드 추가 {name:"좋은느낌", diassembled:"ㅈㅇㄴㄲ"}
    product_list.forEach(function(item){
        // Hangul.disassemble(str:string, grouped:boolean = false)
        var chosung_arr = Hangul.disassemble(item.name, true);
        var chosung = chosung_arr.reduce(function(acc_ele, ele){
            return acc_ele + ele[0]; // 초성만 누적시켜 하나의 스트링으로 반환
        }, "");
        item.diassembled = chosung;
    });

    console.log(product_list);

    var is_cursor_in_ul = true;
    
    function configCompareSearchTextEvent(){
        var inputText = document.getElementById('compareSearchText');
        var ul = document.getElementById('autoCompleteText');
        
        inputText.addEventListener('focusin', function(){
            createSearchTextList(this, ul);
        });
        inputText.addEventListener('keyup', function(){
            createSearchTextList(this, ul);
        });
        inputText.addEventListener('focusout', function(){
            if( is_cursor_in_ul == false ){
                removeSearchTextList(ul);
            }
        });
        ul.addEventListener('mouseenter', function(){
            is_cursor_in_ul = true;
        });
        ul.addEventListener('mouseleave', function(){
            is_cursor_in_ul = false;
        });
    }

    function removeSearchTextList(ul){
        // 기존 자동완성 ul 자식 노드 모두 삭제
        while(ul.hasChildNodes()){
            ul.removeChild(ul.firstChild);
        }

        ul.classList.remove('focusin');
    }

    function createSearchTextList(inputText, ul){
        removeSearchTextList(ul);

        var search = inputText.value;
        var search_chosung = Hangul.disassemble(search, true).reduce(function(acc_ele, ele){
            return acc_ele + ele[0];
        }, "");
        
        product_list.filter(function(item){
            return item.name.includes(search) || item.diassembled.includes(search_chosung);
        }).forEach(function(item, index){
            // 검색결과 ul 아래에 li 로 추가
            var li = document.createElement('li');
            if( index > 4 ){
                return;
            }
            li.innerHTML = item.name;
            li.addEventListener('click', function(){
                inputText.value = item.name;
                removeSearchTextList(ul);
            });

            ul.appendChild(li);
        });

        ul.classList.add('focusin');
    }
    
    // comparesearch / keywordsearch 탭 선택
    function select_pannel(selected_item){
        document.querySelectorAll('.search-pannel div').forEach(function(item){
            item.classList.remove('selected');
        });
        selected_item.classList.add('selected');
    }

    // comparesearch form 유효성 검사
    function compareSearchFormValidation(){
        var form = document.getElementById('compareSearchForm');
        var checkList = document.querySelectorAll("input[type='checkbox']:checked");
        var checkListStr = "";
        
        if( checkList.length > 0 ){                
            checkList.forEach(function(ele){
                checkListStr += ele.value + ",";
            });
            checkListStr = checkListStr.substring(0, checkListStr.length - 1);
        }
        
        // 유효성 체크
        if(form.q.value == ''){
            alert("검색어를 입력해주세요");
            form.q.focus();
            return;
        }
        
        if(checkListStr == ''){
            alert("비교조건을 선택해주세요");
            return;
        }
        
        form.compareConditionList.value = checkListStr;
        form.submit();
    }
</script>
    
{% endblock %}



