{% extends "base_generic.html" %}

{% block content %}

<div>
    여기는 탭이 들어갈 곳
    여기다가 수정을 하면?
</div>

<div>
    <form action="" method="GET">
        <div>
            <input type="text" name="q" placeholder="{{user.best_pad}}"/>
            <br/>
            <p>직접 입력하려면 상자를 클릭하세요</p>
        </div>
        보다
        <div>
            <div>
                여기에 클릭할 때마다 체크박스 모양이 추가되는게 들어와야 할텐데..
            </div>
            <div>
                <input type="checkbox" name="low-priced"/>저렴한
                <input type="checkbox" name="absorbent"/>흡수력 좋은
                <input type="checkbox" name="soft"/>촉감/착용감 좋은
                <input type="checkbox" name="natural"/>자연유래정도 높은
                <input type="checkbox" name="deodorant"/>탈취성 좋은
                <input type="checkbox" name="less-trouble"/>피부 트러블 덜 나는
            </div>
        </div>
        제품 찾아주세요
        <input type="submit" value="검색"/>
    </form>
</div>
<div>
{% if first_page == False %}
    {% if products %}
        <p>총 {{ products|length }}개의 상품이 검색되었습니다</p>
        <hr/> 
        <select>
            <option value="">정확도순</option>
        </select>
    </div>
    
    <div>
        <ul>
            {% for product in page_obj %}
            <li>
                <img src="{{product.image.url}}" alt="제품 이미지"/>
                    <p>{{ product.hashtag }}</p>
                    <h2>{{ product.name }}</h2>
                    <h3>{{ product.category }}</h3>
                </a>
            <li/>
            {% endfor %}
        </ul>
    {% else %}
        <p>검색 결과가 없습니다.</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}