{% extends "base_generic.html" %}

{% block content %}
<div>
    <div>
        <img src="{{product.image.url}}" alt=""/>
    </div>
    <div>
        {{product.name}}<br/>
        - 정가 {{product.price}} / {{product.count}}개입<br/>
        {{product.hashtag}}
        
        {{product.score}}
    </div>
    <div>
        <button type="button">비교함 담기</button>
        <button type="button">내 생리대 등록</button>
        <button type="button">리뷰 남기러가기</button>
    </div>
</div>

<div>
    <div>
        <ul>
            <li class="" data-tab="tab1">제품정보</li>
                <div id="tab1" class="">
                    여기는 '제품정보' 탭 // 지마켓처럼 제품 소개 이미지 통짜로 박을 것임<hr/>
                </div>
            <li class="" data-tab="tab2">성분정보</li>
                <div id="tab2" class="">
                    여기는 '성분정보' 탭 // 생리대 구조 그래프와 성분 기재 + 자연 유래도 퍼센트와 그래프 포함<hr/>
                </div>
            <li class="" data-tab="tab3">리뷰({{product}})</li>
                <div id="tab3" class="">
                    <div>
                        BEST REVIEW
                        <div>
                            {{bestReview.star}}
                            {{bestReview.user_fk.user.username}} / {{bestReview.user_fk.age}}세 / 여성
                            {{bestReview.created}}
                            {{bestRevoew.content}}
                        </div>
                    </div>

                    {% comment %} <div>
                        BEST REVIEW 
                        {% for review in product.review_set.all %}
                            {% if review.id == product.best_review.id %}
                                <div>
                                    <div>
                                        {{review.star}} 얘는 베스트 리뷰얌
                                        <br/>
                                        {{review.user_id.username}} {{review.user_id.profile.sex}} / {{review.user_id.profile.age}}살
                                        {{review.created}} 
                                    </div>
                                    <div>
                                        {{review.title}}
                                        {{review.content}}
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <div>
                                        {{review.star}}
                                        <br/>
                                        {{review.user_id.username}} {{review.user_id.profile.sex}} / {{review.user_id.profile.age}}살
                                        {{review.created}}
                                    </div>
                                    <div>
                                        {{review.title}}
                                        {{review.content}}
                                    </div>
                                </div>
                            {% endif %}       
                        {% endfor %}
                    </div>
                </div> {% endcomment %}
        </ul>
    </div>

</div>
{% endblock %}