{% extends "base_generic.html"%}

{% block content %}

    <head class="header">내 타입(ISTP)의 최적생리대는?
        <span class="header__explain">
            나와 같은 월경타입의 사람들이 평가한 순위
        </span>
    </head>
    <ul class="ranking">    
        <li class="ranking__image">
            <a href="" class="image__link">
                <img src="" class="link__image">
            </a>
            <div class="image__rank">1위</div>
            <div class="image__explain">
                좋은느낌|총점 89
                <div class="explain__price">5000원 자연유래도 98%</span>
            </div>
        </li>
    </ul>
    <nav class="condition">
        <ul class="condition__content">
            <li class="content__first">
                <div class="first__fontawesome">물방울그림</div>
                <span class="first__tag">흡수력</span>
            </li>
        </ul>
        <ul class="condition__star">
            <li class="star__first">
                
            </li>
        </ul>
    </nav>

{% endblock %}