.notice-list-page{

    #main-title{
        text-align: center;
        font-size: 2em;
        padding: 3em;
    }
    #control-bar{
        padding-bottom: 2em;
        margin: auto;
        text-align: center;
        line-height: 2.5em;

        .radio-tab{
            font-size: 1em;
            
            label{
                cursor: pointer;
                input[type="radio"]{
                    display: none;
                }
            }
            &.selected{
                span{
                    border-bottom: solid 3px #2b5e2e;
                    font-weight: bold;
                }
            }
        }

        #notice-text-search-box{
            padding-right: 0px;
            input[type="text"]{
                width: 100%;
                border: solid 1px #bebebe;
            }
        }
    }

    #notice-table{
        thead{
            background-color: #2b5e2e;
            text-align: center;       
            th{
                color: white;
            }
        }

        tbody{
            text-align: center;

            &#fixed_notice{
                background-color: whitesmoke;
            }
            &#normal_notice{
                
            }

            >tr>th,td{
                vertical-align: middle;
                &#notice-title{
                    text-align: left;
                }
            }
        }
    }
}