.normal-search-page{
    
    // 상단 패널
    .pannel{
        padding: 80px 0;
        border-bottom: solid 1px #bebebe;

        .pannel-title{
            padding: 15px;
            text-align: center;
            font-size: 2em;
        }
        .pannel-description{
            text-align: center;
            color: #bebebe;            
        }
    }
    
    // .search-pannel div {
    //     padding: 60px 10px 40px;
    //     border-bottom: 2px solid #bebebe;
    //     color: #bebebe;
    //     transition: all 0.5s;
    //     cursor: pointer;

    //     h2 {
    //         color: inherit;
    //         margin: 12px 0;
    //         font-size: 22px;
    //         font-weight: bold;
    //         cursor: pointer;
    //     }

    //     span {
    //         cursor: pointer;
    //         color: inherit;
    //     }

    //     &.selected {
    //         border-bottom-color: #272727;
    //         color: #1e1e1e;
    //     }
    // }

    // 검색어 입력 박스
    .search-content-box{
        padding: 70px 0;        
        
        .search-text-box{                        
            
            >div{
                padding: 0px;                
            }

            #normalSearchText {
                padding: 0px;
                margin: 0px;  
                border: 1px #bebebe;
                border-style: none none solid none;
                background-color: #f6f6f6;                
                width: 600px;
                height: 50px;                
                text-align: center;
            }
    
            #searchButton{
                padding: 0px;
                margin: 0px;  
                width: 120px;
                height: 50px;
                background-color: #000000;
                color: #FFFFFF;

                &:hover{
                    background-color: #bebebe;
                    color: #000000;
                }
            } 
    
            #autoCompleteText {
                // margin: 0 10px;
                margin: 0px;
                // position: absolute;                
                border: solid 1px #bebebe;
                border-top: none;
                background-color: #f6f6f6;
                width: 600px;
                z-index: 10;
                transition: all 0.5s;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 0.1s, opacity 0.1s linear;
    
                &.focusin {
                    visibility: visible;
                    opacity: 1;
                    transition-delay: 0;
                    transition-duration: 0.4s;
                }
    
                li {
                    text-align: center;
                    cursor: pointer;
                    padding: 10px 10px;
    
                    &:hover {
                        background-color: #2b5e2e;
                        color: #FFFFFF;
                    }
                }
            }

            
        }
        
        .href-comparesearch{
            padding: 20px;
        }

    }

    // 공통 검색결과 나열 박스
    .result-box {
        margin: auto;

        >p {
            border-bottom: solid 2px #d4d4d4;
            padding-bottom: 15px;

            +div {
                padding: 0 5px;
                text-align: right;
            }
        }

        .product-box {
            margin: 0 auto;

            ul {
                width: 100%;

                >p {
                    margin: 0 auto;
                    padding: 30px 0 60px 15px;
                }

                li {
                    width: 100%;
                    height: 100%;

                    >div {
                        cursor: pointer;
                        text-align: center;

                        &:hover {

                            /* 상품 리스트 hover 주고 싶으면 여기 건들 것 */
                            h2 {
                                /* color: #2b5e2e; */
                            }
                        }

                        >div {
                            height: 205px;
                            padding: 15px;
                            margin-bottom: 13px;

                            border: solid 1px #979797;
                            background-color: #ffffff;

                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            >div {
                                height: 100%;

                                span {
                                    display: block;
                                    text-align: left;

                                    &.rank {
                                        font-size: 26px;
                                        font-weight: 600;
                                        line-height: 1.54;
                                    }
                                }
                            }

                            >img {
                                width: 166px;
                                height: 185px;
                                margin: auto;
                            }
                        }

                        >span {
                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: 1.7px;
                        }

                        >h2 {
                            font-weight: bold;
                            font-size: 22px;
                            line-height: 1.82;
                        }
                    }

                }
            }
        }
    }



}