.product-detail-page {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .product-info {
    display: flex;
    justify-content: center;
  }
  
  .search-path{
    margin: 30px 0;
  }
  
  .main-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    >div {
      &:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
          width: 553px;
          height: 479px;
          border: 1px solid #bebebe;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    img {
      width: 286px;
      height: 317px;
    }
    }
  }

  .right-container {
    height: 479px;
    position: relative;
  }

  .product-introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    >div {
      &:nth-child(1) {
        // background-color: pink;
        width: 100%;
        height: 102px;
        font-size: 28px;
        color: #1e1e1e;
        display: flex;
        flex-direction: column;

        >span {
          &:first-child {
            font-size: 28px;
            margin-bottom: 10px;
          }

          &:nth-child(2) {
            font-size: 20px;
            height: 29px;
          }
        }
      }
      
      &:nth-child(1)::after{
        display: block;
        content: '';
        width: 100%;
        border: .5px solid #bebebe;
        margin-top: 34px;
      }

      &:nth-child(2) {
        padding-top: 30px;
        height: 209px;
        width: 100%;
        display: flex;
        justify-content: flex-start;

        >div{
          &:first-child {
            display: flex;
            flex-direction: column; 
            width: 40%;
          
            >span {
              &:first-child {
                font-size: 28px;
                font-weight: 500;
                margin-bottom: 33px;
              }

              &:nth-child(2) {
                font-size: 18px;
              }

            }
          }
           &:nth-child(2) {
            display: flex;
            flex-direction: column; 

            >span {
              &:first-child {
                font-size: 28px;
                margin-bottom: 33px;
              }

              &:nth-child(2) {
                font-size: 18px;
                margin-bottom: 14px;
              }

              &:nth-child(3) {
                font-size: 18px;
              }
            }
           }
        }
      }
    }
  }

  .product-button {
    width: 100%;
    // position: absolute;
    bottom: 0;

    div {
      &:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &:nth-child(2) {
      }
    }
  }
  .button1 {
    width: 50%;
    height: 78px;
    border: solid 0.5px #1e1e1e;
    border-right: none;
    border-bottom: none;
    opacity: 0.8;
    background-color: #fffefc;
    cursor: pointer;
  }
  .button2 {
    width: 50%;
    height: 78px;
    border: solid 0.5px #1e1e1e;
    border-bottom: none;
    opacity: 0.8;
    background-color: #fffefc;
    cursor: pointer;
  }
  .button3 {
    width: 100%;
    height: 80px;
    border: solid 0.5px #1e1e1e;
    opacity: 0.8;
    background-color: #fffefc;
    cursor: pointer;
  }

  .product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
  }

  .product-detail-list {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      text-align: center;
      input {
        display: none;
      }
      label {
        align-items: center;
        text-align: center;
        height: 60px;
        font-size: 20px;
        color: #bebebe;
        padding: 0;
        border: 1px solid #bebebe;         
      }
    }
  }

  label {
    &:hover {
      cursor: pointer;
    }
  }
  #content1 {
    display: none;
  }
  #content2 {
    display: none;
  }
  #content3 {
    display: none;
  }
  #tab1 {
    &:checked {
      ~ {
        #content1 {
          margin-top: 54px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  #tab2 {
    &:checked {
      ~ {
        #content2 {
          margin-top: 54px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  #tab3 {
    &:checked {
      ~ {
        #content3 {
          margin-top: 54px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  
  .bestreview-title {
    text-align: left;
    padding: 0 86px;
    font-size: 20px;
    color: #1e1e1e;
    margin-bottom: 32px;
  }
  .bestreview-content {
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    padding: 50px 5px;
    width: 100%;
  }
  .bestreview-upper {
    height: 69px;
    padding-right: 20px;
    display: flex;
    align-items: center;
  }
  .user-image {
    background-color: wheat;
    height: 100%;
    width: 69px;
    border: 1px solid #979797;
    border-radius: 100%;
    opacity: 0.46;
    flex-shrink: 0;
  }
  .user-info {
    display: inline-block;
    text-align: left;
    padding-top: 8px;
    padding-left: 40px;
    height: 100%;
    display: block;
    flex-shrink: 0;
    div {
      &:last-child {
        padding-top: 10px;
      }
    }
  }
  .user-score-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .user-score {
    background-color: #184703;
    width: 88px;
    height: 32px;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .review-score{
  //   // visibility: hidden; 
  //   margin-top: 18.5px;
  //   position: absolute;
  //   height: 250%;
  //   width: 30%;
  //   top: 0%;
  //   left: 100%;
  //   background-color: white;
  //   border: 1px solid black;

  //   div {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     flex-shrink: 0;
  //     padding: 0;

  //     span {
  //       padding: 0;
  //     }
  //   }
  // } 유저 평점 말풍선 창



  // .user-score:hover ~ .review-score{
  //   visibility: visible;
  // }

  
  .user-content {
    padding-left: 106px;
    padding-right: 100px;
    text-align: left;
  }
  .review {
    margin-top: 138px;
    border-bottom: 1px solid #bebebe;
  }
  .review-title {
    text-align: left;
    padding: 0 86px;
    font-size: 20px;
    color: #1e1e1e;
    margin-bottom: 32px;
  }
  .review-content {
    border-top: 1px solid #bebebe;
    padding: 50px 5px;
    width: 100%;
    &:nth-child(1) {
      border-top: 1px solid #bebebe;
    }
  }
}
