.product-detail-page {
  box-sizing: border-box;

  .product-intro {
  }
  
  .product-intro__path{
    margin: 30px 0;
    width: 100%;
  }
  
  .product-intro__main {
    display: flex;      
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    }

  .product-intro__img {
    height: 479px;
    border: 1px solid #bebebe;
    padding: 85px 133px 77px 134px;
  }

  .product-intro__img img {
    width: 286px;
    height: 317px;
  }

  .product-intro__content {
    height: 479px;
    position: relative;
    padding-left: 60px;
  }

  .product-intro__top-box {
    height: 109px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bebebe;
  }

  .product-intro__top-box .top-box__left{
    display: flex;
    flex-direction: column;
    >span {
      &:first-child {
        font-size: 28px;
        font-weight: 500;
        color: #1e1e1e;
        margin-bottom: 25px;
      }

      &:nth-child(2) {
        font-size: 20px;
        font-weight: 300px;
      }
    }
  }

  .product-intro__top-box .top-box__right {
    width: 85px;
    height: 85px;
    background-color: #edadad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >i {
      color: #ffffff;
      font-size: 20px;
    }

    >span {
      margin-top: 10px;
      color: #ffffff;
      font-size: 20px;
    }
  }


  .product-intro__middle-box {
    height: 209px;
    padding: 40px 0;
  }
  
  .product-intro__middle-box .middle-box__top {
    margin-bottom: 50px;
    >span {
      &:first-child{
        font-size: 28px;
      }
    }
  }

  .product-intro__middle-box .middle-box__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    >div {
      &:first-child{
        >span {
          font-size: 18px;
          font-weight: 400;
          color: #303030;
        }
      }

      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        >span {
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }


  .product-intro__button-box {
    width: 100%;
    // position: absolute;
    bottom: 0;
    div {
      font-size: 22px;
      color: #000000;
      &:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &:nth-child(2) {
      }
    }
  }
  .button1 {
    width: 50%;
    height: 78px;
    border: solid 0.5px #1e1e1e;
    border-right: none;
    border-bottom: none;
    opacity: 0.8;
    background-color: #fffefc;
    cursor: pointer;
    span {
      font-weight: 500;
    }
  }
  .button2 {
    font-weight: 500;
    width: 50%;
    height: 78px;
    border: solid 0.5px #1e1e1e;
    border-bottom: none;
    opacity: 0.8;
    background-color: #fffefc;
    cursor: pointer;
  }
  .button3 {
    font-weight: 500;
    width: 100%;
    height: 80px;
    border: solid 0.5px #1e1e1e;
    opacity: 0.8;
    background-color: #fffefc;
    cursor: pointer;
  }

  .product-detail {
    margin-top: 70px;
  }

  .product-detail__list {
    display: flex;
    justify-content: center;
    padding: 0;
    >li {
      list-style: none;
      text-align: center;
      width: 100%;
      >input {
        display: none;
      }
      >input + label {
        align-items: center;
        text-align: center;
        height: 60px;
        font-size: 20px;
        color: #bebebe;
        position: relative;

        // &:nth-child(2n):not(:nth-child(3n))::after {
        //   content: '|';
        //   color: inherit;
        //   display: inline-flex;
        //   align-items: center;
        //   justify-content: center;
        // }
      }

      .test::before {
       content: '';
       height: 13px;
       border-right: 1px solid #bebebe;
       position: absolute;
       left: 0;
       top: 5px;
      }

      .test::after {
        content: '';
        height: 13px;
        border-right: 1px solid #bebebe;
        position: absolute;
        right: 0;
        top: 5px;
      }

      // label:nth-child(3)::before {
      //   content: '';
      //   height: 100%;
      //   border: 1px solid #bebebe;
      //  }
    }
  }

  label {
    &:hover {
      cursor: pointer;
    }
  }
  #content1 {
    display: none;
  }
  #content2 {
    display: none;
  }
  #content3 {
    display: none;
  }
  #tab1 {
    &:checked {
      ~ {
        #content1 {
          margin-top: 54px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  #tab2 {
    &:checked {
      ~ {
        #content2 {
          margin-top: 54px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  #tab3 {
    &:checked {
      ~ {
        #content3 {
          margin-top: 54px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  
  .review-summary {
    height: 354px;
    box-shadow: 2px 2px 11px 0 rgba(204, 204, 204, 0.5);
    border: 1px solid #979797;
    background-color: var(--very-light-pink);
    margin: 0;
    padding: 15px 0;
  }

  .review-summary__left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border-right: solid 1px #979797;
    font-size: 30px;
    color: #303030;
    div {
      &:first-child {
        margin-bottom: 15px;
      }

      &:nth-child(2) {
        margin-bottom: 50px;
      }

      &:nth-child(3) {
        font-size: 35px;
      }
    }
  }

  .review-summary__left-column .text  {
    text-decoration: underline;
  }

  .review-summary__right-column {
    background-color: skyblue;
    display: flex;
    padding: 0 40px;
    div {
      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        font-size: 20px;
        span {
          font-weight: 500;
          color: #303030;
        }
      }
    }
  }

  .review {
    margin-top: 138px;
    border-bottom: 1px solid #bebebe;
  }
  
  .review-title {
    text-align: left;
    font-size: 30px;
    color: #1e1e1e;
    margin-bottom: 20px;
  }

  .review-content {
    border-top: 1px solid #bebebe;
    padding: 45px 35px;
    width: 100%; 
    &:nth-child(1) {
      border-top: 1px solid #bebebe;
    }
  }

  .review-content__info {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .review-content__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 21px;
    >div {
      &:first-child {
        width: 70px;
        margin-right: 40px;
        font-size: 18px;
        align-self: flex-start;
        >div {
          &:nth-child(2) {
            padding-top: 5px;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      &:nth-child(2) {
        text-align: left;
        align-self: flex-start;
        font-size: 16px;
        >div {
          &:nth-child(2) {
            padding-top: 13px;
            color: #bebebe;
          }
        }
      }
    }

    >input[type="radio"] {
    }

    >label {
      cursor: pointer;
      margin-left: 25px;
      font-size: 16px;
      width: 290px;
      height: 40px;
      border: 1px solid #979797;
      background-color: #303030;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      >span {
        font-weight: 300;
        color: #ffffff;    
        margin-right: 12px;
      }    

      >i {
        color: #ffffff;    
      }
    }

    label:nth-child(6) {
      display: none;
    }

    input:nth-child(3):checked ~ label:nth-child(5) {
      display: none;
    }

    input:nth-child(3):checked ~ label:nth-child(6) {
      display:flex;
    }

    input:nth-child(4):checked ~ label:nth-child(6) {
      display: none;
    }

    input:nth-child(4):checked ~ label:nth-child(5) {
      display: flex;
    }
  }

  
  //     >i {
  //       color: #ffffff;    
  //       &:nth-child(3) {
  //         display: none;
  //       }
  //     }
  //   }

  //   >button:focus i:nth-child(2) {
  //     display: none;
  //   }

  //   >button:focus i:nth-child(3) {
  //     display: inline-block;
  //   }

  //   .clicked-box {
  //     display: none;
  //   }

  //   >button:focus .clicked-box {
  //     display: flex;
  //     width: 100%; 
  //     height: 154px;
  //     background-color: skyblue;
  //     position: absolute;
  //     top: 100%;
  //     left: 0;
  //     z-index: 10;
  //     margin: 0;
  //     padding: 17px 0;
  //   }
  // }  

  // .clicked-box__left-column {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: space-between;
  //   span {
  //     font-size: 16px;
  //     color: #1e1e1e;
  //   }
  // }

  .review-content__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
    >div {
      &:first-child {
        width: 70px;
        margin-right: 40px;
        font-size: 16px;
        font-weight: 500;
        color: #303030;
        text-align: center;
      }
        
      &:first-child::after {
        margin-top: 3px;
        text-align: center;
        display: block;
        content: '';
        width: 37px;
        border-bottom: 1px solid #979797;
        transform: translateX(16px);
      }
    }
  }


  .review__review {
    text-align: left;
    padding-left: 110px;
  }

  // .review-score{
  //   // visibility: hidden; 
  //   margin-top: 18.5px;
  //   position: absolute;
  //   height: 250%;
  //   width: 30%;
  //   top: 0%;
  //   left: 100%;
  //   background-color: white;
  //   border: 1px solid black;

  //   div {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     flex-shrink: 0;
  //     padding: 0;

  //     span {
  //       padding: 0;
  //     }
  //   }
  // } 유저 평점 말풍선 창



  // .user-score:hover ~ .review-score{
  //   visibility: visible;
  // }

  
  .user-content {
    padding-left: 106px;
    padding-right: 100px;
    text-align: left;
  }

}
